# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env.dev
.env.prod

# MkDocs build
docs/site/

# Docs pas utiles
*.json

# MAIS on garde les fixtures
!autorisations/fixtures/
!autorisations/fixtures/*.json

# Données cartographiques statiques nécessaires à l'application
!autorisations/src/instruction/static/instruction/carto/pois.json

# Vscode
.vscode
.vscode/

# Tests
synchronisation/save_prod/*
synchronisation/testDev/*
synchronisation/testprod/*

autorisations/src/synchronisation/save_prod/
autorisations/src/synchronisation/testDev/
autorisations/src/synchronisation/testprod/
