<p>Madame, monsieur,</p>

<br>
<p>{{ body }}</p>
<br>

<p>Cordialement,</p>

<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td style="line-height:1.2; padding:0; margin:0;">
      Le Parc national de La Réunion<br>
      258 rue de la République 97431 La Plaine-des-Palmistes<br>
      Tél : +262 (0)2 62 90 16 85 – Mobile : +262 (0)6 92 32 90 33<br>
      <a href="https://www.reunion-parcnational.fr" target="_blank">
        www.reunion-parcnational.fr
      </a>
    </td>
  </tr>
</table>




