<p>Bonjour,</p>
<br>

<p style="margin-top: 0;">
    Le {{ date_depot }}, vous avez déposé un dossier sur Déclaration Manifestations concernant la manifestation sportive <strong>« {{ nom_manif }} »</strong> organisé le {{ date_debut }}.
    Après analyse de votre dossier, la manifestation sportive intersecte le coeur du Parc national de La Réunion.
</p>

<p style="margin-top: 0;">
    Par conséquent, nous vous demandons de bien vouloir <strong>procéder à la complétude du formulaire en ligne</strong> :
</p>

<p>
    <a href="{{ lien_formulaire }}" target="_blank">
        {{ lien_formulaire }}
    </a>
</p>

<p style="margin-bottom: 0;">
    Ce formulaire est indispensable à la réalisation de l’instruction de votre dossier. 
</p>
<p style="margin-top: 0;">
    Il est précisé que le délai d’instruction ne pourra commencer à courir qu’à compter de la réception du dossier complet par l’établissement du Parc national de La Réunion.
</p>

<br>
<p style="margin-top: 0;">Dans l'attente de vos compléments, </p>

<p>Cordialement,</p>

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td style="line-height:1.2; padding:0; margin:0;">
          Le Parc national de La Réunion<br>
          258 rue de la République 97431 La Plaine-des-Palmistes<br>
          Tél : +262 (0)2 62 90 11 35<br>
          <a href="https://www.reunion-parcnational.fr" target="_blank">
              www.reunion-parcnational.fr
          </a>
        </td>
    </tr>
</table>




