<p>Bonjour,</p>

<p>Une nouvelle demande d’avis n° {{ avis_numero }} vous a été adressée par {{ demandeur }} sur le dossier n° {{dossier_numero}} ({{ demarche_type }}).</p>

<p><strong>Demande :</strong></p>
<div style="margin: 0 0 16px 16px; padding: 12px; border-left: 3px solid #777; background-color: #f5f5f5;">
    {{ message|linebreaksbr }}
</div>

<p>
    Consulter l'avis : 
    <a href="{{ url }}" target="_blank">
        {{ url }}
    </a>
</p>

<br>
<p style="font-style: italic">=== VEUILLEZ NE PAS RÉPONDRE À CET E-MAIL ! ===</p>
