/* ================================
   Bouton d'actualisation
================================ */
.actualiser-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 20px 40px;
    /* font-weight: bold; */
}

#btn-actualiser {
    /* background: #006131; */
    background: #cdcdcd;
    border: none;
    border-radius: 50%;
    width: 48px;  
    height: 48px;
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn-actualiser:hover {
    /* background: #006130c6; */
    background: #cdcdcdcb;
    transform: rotate(90deg);
}

#btn-actualiser img {
    /* border: red solid; */
    width: 22px;
    height: 22px;
}

#message-actualisation {
    margin-left: 15px;
    font-size: 1.05rem;
    color: black;
}

/* .actualisation-texte {
    font-style: italic;
} */

#btn-actualiser:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}