/* .formulaire_dm {
    display: inline;
} */

.titre-manif{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.titre-manif h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}





.formulaire_dm {
    position: relative;
    flex: 0 0 70%;
    width: 80%;
    min-width: 300px;
    padding: 4rem 2rem 3rem 2rem;
    background-color: rgb(239, 239, 239);
    border: solid 1px black;
}

@media (max-width: 1300px) {
  .formulaire_dm {
      width: 100%;
  }

}

.formulaire_dm h2 {
    margin: 2rem 0 1rem 0;
    padding: 0;
}

.formulaire_dm .en_attente_DS p{
    font-style: italic;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

/* ------------------------ */
/* Liste PJ déposées sur DM */
/* ------------------------ */
.doc_deposes_sur_DM {
    list-style: none;
}

.validation-documents {
    background-color: #f9f9f9;
    border-left: 4px solid #006131;
    padding: 1rem;
    margin: 1rem 0;
}

.validation-documents h2 {
    margin: 0 0 1rem 0;
}


/* Listes annexes - actes déposés*/
.liste_docs_dm{
    margin-top: 2rem;
}






/* Copier le path des docs à relire et à valider */
.doc-titre-no-download {
    color: #006131;
    font-weight: bold;
    text-decoration: none;
}


/* --- Projet d'acte à valider, à relire, à signer : copie chemin / téléchargement doc--- */
.doc-copy-row, .doc-download-row{
    display: flex;
    width: fit-content;
    position: relative;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.15s ease;
    padding: 0.4rem 0.6rem;
}


.doc-copy-row:hover, .doc-download-row:hover{
    background-color: #eef7f2;
}

.doc-copy-icon {
    margin-left: 1rem;
    width: 22px;
    height: 22px;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.15s ease;
}

.doc-copy-row:hover .doc-copy-icon, .doc-download-row:hover .doc-copy-icon{
    opacity: 0.7;
}

.doc-copy-row:hover .doc-copy-icon:hover, .doc-download-row:hover .doc-copy-icon:hover{
    opacity: 1;
    transform: scale(1.2);
}


/* Numéro acte */
.badge-numero-acte{
    display: inline-block;
    margin: 0 0.1rem;
    padding: 0.15rem 0.5rem;
    background-color: #006131;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 6px;
    letter-spacing: 0.4px;
}









/* ########################## */
/* Carte - Pannel des courses */
/* ########################## */

/* Conteneur carte + panneau à droite */
.carte-container-trail {
  display: flex;
  gap: 16px;
  width: 90%;
  height: 70vh;
  margin: 0;
  align-items: start;
  box-sizing: border-box;
}

/* Carte = 75% */
.carte-container-trail .carte {
  flex: 0 0 calc(75% - 8px);
  min-width: 400px;
  height: 100%;
  border: 2px solid #646464;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  background: #f8f8f8;
}

/* Panel = 25% */
.course-panel {
  flex: 0 0 calc(25% - 8px);
  min-width: 230px;   /* sécurité */
  /* max-width: 350px; */
  background: #fff;
  border: 2px solid #646464;
  border-radius: 12px;
  padding: 10px;
  overflow: auto;
  box-sizing: border-box;
}

/* Responsive carto trail */
@media (max-width: 1100px) {
  .carte-container-trail{
    width: 100%;
  }
  .course-panel {
      min-width: 200px;
  }
}

@media (max-width: 900px) {
  .course-panel {
      min-width: 170px;
  }
  #titre_pannel_courses{
    font-size: 1.2rem;
  }
  .course-panel .course-item label{
    font-size: 0.7rem;
  }
  .course-panel .course-actions {
    flex-direction: column;
  }
}


/* UI panneau */
.course-panel h3 {
  margin: 0 0 8px 0;
  font-size: 14px;
}

#titre_pannel_courses {
    margin-top: 0;
}

.course-panel .course-actions {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.course-panel button {
  padding: 6px 8px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  border-radius: 8px;
  cursor: pointer;
}
.course-panel button:hover {
  background: #eee;
}
.course-panel .course-item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 4px;
  border-bottom: 1px solid #f0f0f0;
}
.course-panel .course-item:last-child {
  border-bottom: none;
}
.course-panel label {
  cursor: pointer;
  font-size: 13px;
  line-height: 1.2;
}


/* pannel couches fond de carte */
/* --- Control discret (2 icônes) --- */
.leaflet-control.or-mini {
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

.or-mini .or-stack {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.or-mini .or-btn {
  width: 36px;
  height: 36px;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.12);
  background: rgba(255,255,255,0.92);
  backdrop-filter: blur(6px);
  display: grid;
  place-items: center;
  cursor: pointer;
  user-select: none;
}

.or-mini .or-btn:hover {
  background: rgba(255,255,255,1);
}

.or-mini .or-btn svg {
  width: 18px;
  height: 18px;
  opacity: 0.8;
}

/* --- Panneau popover --- */
.or-popover {
  position: absolute;
  z-index: 999999;
  min-width: 220px;
  max-width: 280px;
  background: rgba(255,255,255,0.97);
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.12);
  padding: 10px 10px;
  backdrop-filter: blur(10px);
}

.or-popover h4 {
  margin: 0 0 8px 0;
  font-size: 13px;
  font-weight: 600;
  opacity: 0.85;
}

.or-popover .or-row {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 4px;
  border-radius: 10px;
}

.or-popover .or-row:hover {
  background: rgba(0,0,0,0.04);
}

.or-row:hover, .or-popover:hover {
    cursor: pointer;
}

.or-popover label {
  cursor: pointer;
  font-size: 13px;
  line-height: 1.2;
}

.or-popover .or-muted {
  font-size: 12px;
  opacity: 0.65;
  margin-top: 6px;
}


/* Depart et arrivée */

/* Base icône POI ronde */
.or-poi {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #000;
  background-color: #fff;
  filter: drop-shadow(2px 2px 2px rgba(0,0,0,.5));
  text-align: center;
}

/* Départ */
.or-start {
  background-color: #006c11;
  color: white;
}

/* Arrivée */
.or-end {
  background-color: #dd4445;
  color: white;
}


/* -------------------------------- */
/* Formulaires - Changements étapes */
/* -------------------------------- */

.zone-complement {
    display: none;
    margin-top: 1rem;
}

.zone-complement.show {
    display: block;
}

.btn-confirmer-formulaire {
    background-color: #155a32;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-confirmer-formulaire:hover {
    background-color: #0e4c27;
}

.zone-confirmer-formulaire {
    width: 100%;
    text-align: right;
}

.zone-envoyer-pour-validation {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.zone-envoyer-pour-validation.show {
    display: block;
}

.zone-envoyer-pour-validation label {
    font-weight: bold;
    /* margin-top: 1rem;  ca decalle instruction */
}

.zone-envoyer-pour-validation select {
    margin-left: 1rem;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #aaa;
    background-color: white;
    cursor: pointer;
}

.zone-envoyer-pour-validation .hint-text {
    font-size: 0.95rem;
    color: #555;
    font-style: italic;
    margin-top: 0.5rem;
}

.textarea-complement {
    width: 90%;
    min-height: 170px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
}

.zone-complement h4 {
  margin: 2rem 0 1rem 0;
}

/* .zone-complement h2 {
  margin: 0;
} */

.zone-pj-complement {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
}

.info_accepte_refuse_dm_reception {
  font-style: italic;
  margin: 1rem 0;
}

#dossier_dn_accepte_id {
  margin-left: 0;
}




/* ---------------------------------------------------------------- */
/*                        PARTIE DROITE                             */
/* ---------------------------------------------------------------- */
.nav_preinstruction {
    flex: 0 1 30%;
    width: auto;
    min-width: 260px;
}


/* ----------------------------- */
/* --- Bloc Mail de relance --- */
/* ----------------------------- */
.mails_dossier {
    margin: 0 0 1rem 0;
    padding: 1rem;
    background-color: #f9f9f9;
    border-left: 4px solid #003366;
    font-size: 0.95rem;
    flex-direction: column;
}

.nav_dm_sans_dn .logo_instructeur {
    margin-left: 0;
}


@media (max-width: 1300px) {
  .nav_dm_sans_dn .mails_dossier h4 {
      font-size: 0.8rem
  }
}


.mails_dossier h3 {
    font-size: 1.4rem;
    color: #003366;
    margin-bottom: 2rem;
}

.un_mail {
    position: relative;
    padding-bottom: 1rem;
    border-bottom: #003366 solid 1px;
}

.un_mail:hover {
    background-color: #f8f8f8;
}

.titre_mail_dossier {
    display: flex;
    align-items: center;
    margin-top: 1.3rem;
    margin-bottom: 0.4rem;
}

.mails_dossier p {
    font-style: italic;
    margin: 0.2rem 0;
}

.btn_envoi_mail {
    background-color: #e0e0e0;
    color: #222;
    padding: 0.2rem 0.5rem;
    border: 1px solid #bbb;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 0.3rem 0;
}

.btn_envoi_mail:hover {
    background-color: #ccc;
}

.logo_oeil{
    height: 20px; 
    margin-left: 0.6rem;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.logo_oeil:hover {
  transform: scale(1.2); 
}

.un_mail .croix-retirer {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: red;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.un_mail:hover .croix-retirer {
    opacity: 1;
}

.un_mail .croix-retirer:hover {
    cursor: pointer;
    transform: scale(1.3);
}



/* ---------------------------------- */
/* --- Nouveau mail de relance DM --- */
/* ---------------------------------- */

.relance-actions {
    margin-top: 1rem;
    position: relative;
}

.btn-relance-demandeur {
    background-color: #003366;
    color: white;
    padding: 0.6rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: background-color 0.2s ease;
}

.btn-relance-demandeur:hover {
    background-color: #00264d;
}

/* .zone-relance-demandeur {
    display: none;
    margin-top: 1rem;
    padding: 1rem;
    background: #ffffff;
    border: 1px solid #d7d7d7;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.08);
} */

.zone-relance-demandeur {
    position: absolute;
    top: calc(100% + 0.75rem);
    right: 0;

    width: 720px;
    max-width: calc(100dvw - 2rem);
    box-sizing: border-box;
    /* max-width: min(720px, calc(100vw - 3rem)); */
    z-index: 99999;

    display: none;
    padding: 1rem;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.14);
}




.zone-relance-demandeur.show {
    display: block;
}

.form-relance-demandeur {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-relance-demandeur h4 {
    margin: 0 0 0.5rem 0;
    color: #003366;
}

.champ-mail {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.champ-mail label {
    font-weight: bold;
    color: #222;
}

.non-renseigne {
    color: red;
    font-weight: bold;
}

/* Bouton Relance Mail Disable */
.btn-relance-demandeur:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    background-color: #ccc;
    color: #666;
}

.btn-relance-demandeur:disabled:hover {
    transform: none;
}

.destinataires-relance-box {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.input-mail-relance {
    width: 100%;
    padding: 0.65rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
    box-sizing: border-box;
}

.textarea-mail-relance {
    width: 100%;
    min-height: 220px;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
    line-height: 1.5;
    resize: vertical;
    box-sizing: border-box;
    background: #fff;
}

.apercu-mail-relance {
    padding: 1rem;
    background: #fafafa;
    border: 1px solid #e2e2e2;
    border-radius: 8px;
}

.apercu-mail-relance p {
    margin: 0 0 1rem 0;
    font-style: normal;
}

.signature-relance {
    margin-top: 1rem;
    padding-top: 0.8rem;
    border-top: 1px solid #ddd;
}

.signature-relance p {
    margin: 0;
    font-size: 0.92rem;
    line-height: 1.4;
}

.zone-relance-demandeur .search-wrapper {
    width: 100%;
}

.zone-relance-demandeur .search-contacts {
    max-width: none;
    width: 100%;
    margin: 0;
}

.add-email-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    padding: 0;
    font-size: 18px;
    line-height: 1;

    border-radius: 50%;
}

#nouvel-email-relance {
    padding: 0.6rem 0.9rem;
    font-size: 0.95rem;
}


.btn-close-relance {
    position: absolute;
    top: 8px;
    right: 10px;

    background: transparent;
    border: none;

    font-size: 22px;
    font-weight: bold;
    line-height: 1;

    cursor: pointer;
    color: #666;

    transition: all 0.2s ease;
}

.btn-close-relance:hover {
    color: #000;
    transform: scale(1.2);
}