.avis-page-container {
    display: flex;
    gap: 2rem;
    padding: 4rem;
    margin-bottom: 3rem;
}

.avis {
    width: 70%;
}

.avis h1 {
    color: #006131;
    text-align: start;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
}

#nav_top_consult {
    justify-content: left;
    gap: clamp(1rem, 3vw, 3rem);
}

/* Boutons nouveau/ajout avis */
.btn_avis {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Message si le dossier n'est plus sur DS */
.pas_sur_ds {
    margin-bottom: 1rem;
}

.btn-nouvel-avis {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid #006131;
  border-radius: 4px;
  color: #006131;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-nouvel-avis:hover {
  background-color: #e6ffed;
}


/* Bouton Ajouter Avis existant */
/* .ajouter_avis_existant{
    margin-top: 4rem;
} */

.btn-ajouter-avis {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid #000000;
  border-radius: 4px;
  color: #000000;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-ajouter-avis:hover {
  background-color: #f0f0f0;
}




/* ------------------------------------ */
/*           Tables des avis            */
/* ------------------------------------ */

.table_consultations {
    margin: 2rem 0 5rem 0;
    width: 100%;
}

table {
    width: 100%;
    margin: 2rem auto;
    border-collapse: collapse;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #ccc;
    table-layout: auto;
}

thead {
    background-color: rgb(219, 219, 219);
    border-bottom: 2px solid black;
}

thead th {
    text-align: left;
    color: #006131;
}

tbody td { 
    border-bottom: 1px solid #ddd;
}

thead th,
tbody td {
    padding: 12px;
    border-right: 1px solid #ccc;
    max-width: 400px;
    word-wrap: break-word;
    vertical-align: stretch;
}

.ligne_en_gras {
    font-weight: bold;
}

@media (max-width: 1600px) {
    .avis h1 {
        font-size: 1.55rem;
    }
}

@media (max-width: 1300px) {
    .avis h1 {
        font-size: 1.4rem;
    }
}




/* Alternating row colors */
/* tbody tr:nth-child(even) {
    background-color: #f0f0f0;
} */

tbody td[colspan="7"] {
    text-align: center;
    font-style: italic;
    color: #555;
}

.clickable-row:hover {
    background-color: #eef8ee;
    cursor: pointer;
}


/* Icon Brouillon et Envoyé */
.statut_avis{
    vertical-align: middle;   /* le td suit la hauteur de la ligne */
    white-space: nowrap;
}

.statut_avis_content {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 100%;   /* prend toute la hauteur du td */
}

.avis_icon {
    width: 18px;
    height: 18px;
}


/* supprimer dossier */
.cell-suppr {
    position: relative; /* pour que absolute se base sur la cellule */
}

/* Positionnement absolu du bouton à droite */
.form-supprimer-avis {
    position: absolute;
    top: 50%;
    right: -38px; /* décale à droite en dehors de la cellule */
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.clickable-row:hover .form-supprimer-avis {
    opacity: 0.6;
}


.form-supprimer-avis:hover {
    opacity: 1 !important;
}

.btn-supprimer-avis {
    all: unset;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 3.5rem;
    color: #a00;
}

/* Icône supprimer */
.supprimer_avis_icon {
    width: 25px; 
    height: 25px;
    display: block;
    transition: transform 0.2s ease, filter 0.2s ease;
}

/* Icon réponses*/
.avis_reponse_icon {
    width: 25px; 
    height: 25px;
    display: block;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.rep_value{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: left;
}


/* Messages d'erreurs */
.django-messages{
    margin-top: 2rem;
    color: rgb(172, 2, 2);
    font-weight: bold;
}

/* Pastille nouveaux messages DOSSIER*/
.form_msg_box .pastille_nouv_mess {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #003366;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    z-index: 5;
    animation: pulse-icon 1s ease-in-out infinite alternate;
}


/* Pastille nouveaux messages AVIS*/
.nouv_mess_wrapper_avis {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.pastille_nouv_mess_avis {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #003366;
    text-align: center; 
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    animation: pulse-icon 1s ease-in-out infinite alternate;
}

@keyframes pulse-icon {
    from {
        transform: scale(1);
        opacity: 0.9;
    }
    to {
        transform: scale(1.1);
        opacity: 1;
    }
}


/* Avis avec nouveaux messages de  */
.row-action {
    background-color: #fff3cd !important; /* jaune */
}
.row-action:hover {
    background-color: #ffe69c !important;
}
