/* Favorable = vert */
.messagerie .etat-green {
    color: #006131;
    font-weight: bold;
}

/* Défavorable = rouge */
.messagerie .etat-red {
    color: #c62828;
    font-weight: bold;
}

/* ---------------------------------------------------------------- */
/*            Informations Avis - Partie de droite               */
/* ---------------------------------------------------------------- */

.infos-avis {
    padding: 1rem;
    margin-top: 5.3rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.infos-avis h2 {
    margin-bottom: 2rem;
}

.infos-avis p {
    margin: 1rem 0;
    color: black;
    font-size: large;
}

/* si user = expert ou user = demandeur */
.highlight-user {
    color: #064d06;
    font-weight: bold;
}


/* Nombre d'avis envoyés */
.pastille_avis_envoye{
    position: absolute;
    top: -13px;
    right: -13px;
    background-color: #003366;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    z-index: 5;
    animation: pulse-icon 1s ease-in-out infinite alternate;
}


/* Pastille nouveaux messages DOSSIER*/
.form_msg_box .pastille_nouv_mess {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #003366;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    z-index: 5;
    animation: pulse-icon 1s ease-in-out infinite alternate;
}

@keyframes pulse-icon {
    from {
        transform: scale(1);
        opacity: 0.9;
    }
    to {
        transform: scale(1.1);
        opacity: 1;
    }
}




/* ---------------------------------------------------------------- */
/*            Informations Documents - Partie de droite             */
/* ---------------------------------------------------------------- */

.infos-docs {
    position: relative;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.infos-docs h2 {
    margin-bottom: 2rem;
}

.liste-documents-avis {
    list-style: none;
    padding-left: 0;
    /* margin-top: 0.3rem; */
}

.liste-documents-avis li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.8rem;
}

.liste-documents-avis p {
    font-size: large;
}

.liste-documents-avis a {
    text-decoration: none;
    color: #006131;
}

.liste-documents-avis a:hover {
    text-decoration: underline;
}

.doc-icon {
    height: 20px;
    width: 20px;
}

.pj_avis{
    border-top: solid #006131 1px;
    margin-top: 1rem;
    padding-top: 1rem;
}

/* Bouton ajouter PJ */
.bouton_ajouter_pj{
    display: flex;
    align-items: center;
    justify-content: right;
}

.btn-ajouter-pj {
    background-color: #006131;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.2s ease, background-color 0.2s ease;
    padding-bottom: 4px;
}
.btn-ajouter-pj:hover {
    background-color: #0a7a44;
    transform: scale(1.1);
    padding-bottom: 3px;
}

/* Bouton supprimer PJ */
.pj-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.2rem 0;
}

.btn-supprimer-pj {
    background: none;
    border: none;
    color: red;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.pj-item:hover .btn-supprimer-pj {
    opacity: 1;
}

.btn-supprimer-pj:hover {
    transform: scale(1.2);
    font-weight: bold;
}


/* ---------------------------------------------------------------- */
/*             Informations Notes - Partie de droite                */
/* ---------------------------------------------------------------- */

.infos-note-avis {
    padding: 1rem;
    border-radius: 8px;
    background-color: #f9f9f9;
    border-radius: 10px;
    margin-top: 1rem;
}

.infos-note-avis h2 {
    margin-bottom: 2rem;
}

.form-note-avis textarea {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
    background-color: #fff;
    margin-bottom: 0.8rem;

}

.valider-btn {
    background-color: #006131;
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.valider-btn:hover {
    background-color: #0e4c27;
}