.avis-page-container {
    display: flex;
    gap: 2rem;
    padding: 4rem;
    margin-bottom: 3rem;
}

.avis {
    width: 70%;
}

.form_ajout_demande_avis {
    position: relative;
    width: 100%;
    border: solid #006131 3px;
    margin-top: 2rem;
    padding: 2rem 1rem 4rem 1rem;
}

.form_ajout_demande_avis h2 {
    margin: 0;
    padding: 0;
    color: #006131;
    text-align: center;
}




/* Bouton confirmer */
.confirmer-nouvel-avis {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid #006131;
    border-radius: 4px;
    color: #006131;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.confirmer-nouvel-avis:hover {
    background-color: #e6ffed;
}

/* Formulaire */
.attribut_avis {
    display: flex;
    align-items: center;
    vertical-align: center;
    margin: 1rem 0;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    gap: 1rem;
}

/* Label à gauche */
.attribut_avis label {
    font-weight: bold;
    font-size: 1.2rem;
    color: #006131;
}

/* Menu déroulant Select */
.attribut_avis select {
    padding: 0.4rem 0.6rem;
    border: 2px solid #006131;
    border-radius: 4px;
    font-size: 1rem;
}

