/* ----------------------------------*/
/*           PAGE DOSSIER            */
/* --------------------------------- */

.page_instruction_dossier {
    margin-left: 110px;
}



/* ---------------------------------------------------------------- */
/*                        FORMULAIRE                                */
/* ---------------------------------------------------------------- */

.formulaire h1
{
    margin-top: 0;
    margin-bottom: 4rem;
}

/* ====== Se déclarer comme instructeur ====== */
.form-declarer-instructeur {
    margin: 0;
} 

.btn-declarer {
    background-color: #155a32;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: none;
    font-size: 0.95rem;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.btn-declarer:hover {
    background-color: #0e4c27;
}


/* ====== Changer Etape Dossier ====== */
.btn_dropdown_instruction:hover {
    border-radius: 0;
}


/* ------------------------------------------------ */
/*           Bloc demande de compléments            */
/* ------------------------------------------------ */
.zone-complement {
    display: none;
    margin-top: 1rem;
}

.zone-complement.show {
    display: block;
}

.textarea-complement {
    width: 100%;
    min-height: 120px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
}

.zone-pj-complement {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    gap: 1rem;
}

.btn-envoyer-complement {
    background-color: #155a32;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-envoyer-complement:hover {
    background-color: #0e4c27;
}


/* -------------------------------------- */
/*           Bloc envoyer acte            */
/* -------------------------------------- */
#nature_document {
    padding: 0.5rem;
    margin: 1rem 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
}

.msg_pour_peti {
    margin: 0.5rem 0 1.5rem 0;
}

.msg_pour_peti label{
    display: block;
    margin-bottom: 1rem;
}

#formulaire-acceptation {
    margin-bottom: 2rem;
}

#formulaire-acceptation label {
    font-weight: bold;
}

.copie_par_mail {
    display: flex;
    margin: 2rem 0;
}

.copie_par_mail .toggle-group input {
    cursor: pointer;
    accent-color: #006131;
}

.copie_par_mail .toggle-group label {
    margin-left: 0.8rem;
}



/* ------------------------------------------------ */
/*           Envoi acte en copie par mail           */
/* ------------------------------------------------ */

.zone-partage-mails{
    display: none;
    flex-direction: column;
}

/* Bloc spécifique pour le partage mails */
.zone-partage-mails.show {
  display: flex;
}

/* Recherche contact */
.zone-partage-mails .search-contacts {
    max-width: 450px;
    flex: 1;
    margin: .4rem 0 .6rem 0;
    padding: .5rem .6rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: .95rem;
}

.zone-partage-mails .emails-multiselect {
    width: 100%;
    min-height: 10rem;
    border: 1px solid #ccc;
    margin: 0;
    border-radius: 6px;
    padding: .2rem;
    background: #fff;
}

.emails-multiselect option {
    padding: 0.2rem;
    cursor: pointer;
}

/* Couleur de fond des options sélectionnées */
.emails-multiselect option:checked {
  background-color: #e9f5ef;
}
/* Pour forcer la couleur dans Chrome/Safari */
.emails-multiselect:focus option:checked {
  background-color: #e9f5ef;
}

.selected-chips {
    display: flex;
    flex-wrap: wrap;
    gap: .4rem;
    margin-top: .6rem;
}

.selected-chips .chip {
    display: inline-flex;
    align-items: center;
    gap: .4rem;
    padding: .2rem .5rem;
    background: #e9f5ef;
    border: 1px solid #b9e2cf;
    border-radius: 999px;
    font-size: .9rem;
}

.selected-chips .chip button{
    border:none;
    background:transparent;
    cursor:pointer;
    font-size:1.5rem;
    line-height:1;
    margin-left: 0.5rem;
    padding:0;
}

.selected-chips .chip:hover button{
    font-weight: bold;
}



.zone-partage-mails .btn-outline {
    background: transparent;
    border: 1px solid #006131;
    color: #006131;
    padding: .35rem .7rem;
    border-radius: 6px;
    cursor: pointer;
}
.zone-partage-mails .btn-outline:hover {
    background: #006131;
    color: #fff;
}


/* .zone-partage-mails .actions-row{margin-top:.6rem} */

.zone-partage-mails .btn-outline{
    background:transparent;
    border:1px solid #006131;
    color:#006131;
    padding:.35rem .7rem;
    border-radius:6px;
    cursor:pointer
}

.zone-partage-mails .btn-outline:hover{
    background:#006131;
    color:#fff
}

/* Bouton ajouter mail */
.search-wrapper {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    width: 60%; /* même largeur que ton input d’avant */
}


.add-email-btn{
    background: #006131;
    color: white;
    border: none;
    border-radius: 4px;
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.2s ease;
    display: none;
}



.add-email-btn:hover, .btn-annuler-ajout-contact:hover {
    background: #0e4c27;
}


/* ------------------------------------------------ */
/*         Mini formulaire : nouveau contact        */
/* ------------------------------------------------ */

.nouveau-contact-form {
    display: flex;
    flex-wrap: wrap;  
    text-align: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0.8rem 0;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
}


.nouveau-contact-form .input-mini,
.nouveau-contact-form select {
    padding: 0.4rem 0.6rem;
    border: 1px solid #ccc;
    margin-right: 0.5rem;
    border-radius: 6px;
    font-size: 0.9rem;
    background: #fff;
}

.nouveau-contact-form .btn-ajout-contact {
    padding: 0.5rem 1rem;
    background: #006131;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.nouveau-contact-form .btn-ajout-contact:hover {
    background: #0e4c27;
}

.btn-annuler-ajout-contact {
    padding: 0.5rem 1rem;
    background: #ffffff;
    color: #000000;
    border: black solid 1px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s ease;

}

.btn-annuler-ajout-contact:hover {
    background: #ebebeb;
}







/* ====== Relecture ====== */
.relecture_juridique label{
    font-size: 1.2rem;
}

.checkbox-relecture {
    cursor: pointer;
}

#form-relecture-juridique {
    margin-top: 1.5rem;
    margin-left: 2rem;
    font-weight: bold;
    color: #006131;
}


/* === Bloc envoyer pour validation avant signature === */
.zone-envoyer-pour-validation {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}

.zone-envoyer-pour-validation.show {
    display: block;
}

.zone-envoyer-pour-validation label {
    font-weight: bold;
}

.zone-envoyer-pour-validation select {
    margin-left: 1rem;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #aaa;
    background-color: white;
    cursor: pointer;
}

.zone-envoyer-pour-validation .hint-text {
    font-size: 0.95rem;
    color: #555;
}

.validant {
    margin-top: 2rem;
}

.projet_acte_pj {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.pj-validation-avant-signature {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 2rem;
}

.pj-validation-avant-signature .projet_rapport_ca_pj {
    margin: 0.5rem 0;
}

.envoi-pour-validation-avant-signature {
    width: 100%;
    text-align: right;
}

/* Bloc Transmission à l'intermédiaire CA */
#formulaire-transmission-ca {
    margin-bottom: 1rem;
}

#choix_intermediaire_ca {
    margin-bottom: 1rem;
}

/* Bloc pour joindre la délib CA signée + Rapport du CA*/
#joindre_pj_rapportCA {
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
}


/* Bloc À Valider avant signature : Les docs à valider */
.validation-documents {
    background-color: #f9f9f9;
    border-left: 4px solid #006131;
    padding: 1rem;
    margin: 1rem 0;
}

.validation-documents h2 {
    margin: 0 0 1rem 0;
}

.doc-a-valider-liste {
    list-style: none;
}

.doc-item {
    display: flex;
}

.doc-titre {
    color: #006131;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.doc-titre:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Liste des validants */
.btn-changer-valideur {
    width: 20px;
    cursor: pointer;
}

.btn-changer-valideur img{
    width: 100%;
    margin: auto;
    vertical-align: text-bottom; 
}




/* === Bloc envoyer pour validation avant demande d'avis === */
/* ====== Bloc sélection des avis ====== */
.avis-dossier {
    margin: 2rem 0 1.5rem 0;
}

.avis-dossier label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

#avis-selectionnes {
    width: 60%;
    padding: 0.4rem;
    margin-left: 0;
    border-radius: 6px;
    font-size: 1rem;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}

#avis-selectionnes option {
    padding: 0.3rem;
    margin: 0.1rem 0;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

/* Couleur quand l'option est survolée */
#avis-selectionnes option:hover {
    background-color: #f1f1f1;
}

/* Couleur quand l'option est sélectionnée */
#avis-selectionnes option:checked {
    background-color: #e9f5ef;
    color: #006131;
    font-weight: bold;
}

/* Texte d'aide */
.avis-dossier .hint-text {
    font-size: 0.85rem;
    color: #666;
    margin-top: 0.4rem;
    font-style: italic;
}

/* Lien avis à valider */
.avis-a-valider-liste {
    list-style: none;   /* supprime les puces */
    padding: 0;
    margin: 0;
}

.avis-a-valider-liste li {
    margin: 0.8rem 0;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.avis-a-valider-liste a {
    display: inline;
    padding: 0.4rem 0.6rem;
    text-decoration: none;
    color: #333;
    border-radius: 4px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.avis-a-valider-liste a:hover {
    background-color: #f1f1f1;
    color: #006131;
    text-decoration: underline;
}

#download_avis_signe {
    margin: 0;
    padding: 0;

}

#download_avis_signe img {
    width: 25px;
    height: 25px;
    margin: 0;
    padding: 0;
}

.avis-a-valider-liste #download_avis_signe:hover {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}






/* Lien vers le RAA */
.validation-documents img {
    width: 20px;
    margin-left: 1rem;
    transition: transform 0.2s ease-in-out;
}

.validation-documents img:hover {
    transform: scale(1.2);
}


/* Bloc sélection du relecteur qualité */
#formulaire-relecture-qualite, #formulaire-acte-pret {
    margin-bottom: 1rem;
}


/* Bloc relecture */
.demander-relecture_juridique {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f9f9f9;
    border-left: 4px solid #003366;
    font-size: 0.95rem;
}

.formulaire-relecture-juridique.show {
    display: block;
}

.demander-relecture_juridique h3 {
    font-size: 1.4rem;
    color: #003366;
    margin-bottom: 1rem;
}

.btn-relecture-toggle {
    background-color: #e0e0e0;
    color: #222;
    padding: 0.5rem 1rem;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 1rem 0;
}

.btn-relecture-toggle:hover {
    background-color: #ccc;
}

.formulaire-relecture-juridique {
    display: none;
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f4f4f4;
}

.formulaire-relecture-juridique.show {
    display: block;
}

.formulaire-relecture-juridique label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.formulaire-relecture-juridique #first_label_form {
    margin-top: 0;
}

#select-relecteur-juridique, #dmd_relecture {
    padding: 0.4rem;
    border-radius: 6px;
    font-size: 1rem;
    border: 1px solid #ccc;
    width: 100%;
}


.formulaire-relecture-actions {
    text-align: right;
    margin-top: 1rem;
}

/* Bouton "Faite" pour valider la relecture juridique */
.btn-relecture-faite {
    display: flex;
    background-color: #e0f7e9;
    border: 1px solid #2e7d32;
    color: #2e7d32;
    padding: 0.3rem 0.6rem;
    font-size: 0.8rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.btn-relecture-faite:hover {
    background-color: #c5e8d1;
}

.form-relecture-faite {
    display: inline-block;
}


/* Afficher/masquer section */
.triangle {
    display: inline-block;
    transition: transform 0.2s ease;
    color: #003366;
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 0.5rem;
    cursor: pointer;
}

.nom_prenom_relecteur {
    display: inline-block;
    cursor: pointer;
}

.instructeur_du_dossier_relecture.open .triangle {
    transform: rotate(90deg);
}


/* Relecture en attente - Faite */
.relecture_faite {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    background-color: #28a745; /* vert */
    color: #fff;
    font-weight: bold;
    border-radius: 10px; /* arrondi complet */
    font-size: 0.9rem;
    text-align: center;
}

.relecture_en_attente {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    background-color: #ff8a2ae1; /* orange */
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    font-size: 0.9rem;
    text-align: center;
}




.instructeur_du_dossier_relecture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ddd;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 1rem;
    padding: 0.8rem;
    background: #f9f9f9;
    transition: background 0.2s;
}

.instructeur_du_dossier_relecture:hover {
    background: #f1f1f1;
}

.bloc-gauche {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
}

.relecture-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.relecture-details {
    margin-top: 1rem;
    width: 90%;
    padding: 0.8rem 1rem;
    background: #f9f9f9;        /* léger fond gris clair */
    border-radius: 6px;
    font-size: 0.95rem;
    color: #333;
    line-height: 1.5;           /* espace entre lignes */
}

.relecture-details p {
    margin: 0.5rem 0;           /* espace vertical entre paragraphes */
}

.relecture-details ul {
    list-style: none;
    margin-bottom: 1rem;
    padding: 0;
}

.relecture-details li {
    margin: 0.3rem 0;
}

.relecture-details a {
    display: inline-block;   
    text-decoration: none;
    color: #006131;
    font-weight: 500;
    transition: transform 0.2s ease-in-out;
}

.relecture-details a:hover {
    color: #0b4025;  
    transform: scale(1.1);
}


.hidden {
    display: none;
}

/* Triangle rotation quand ouvert */
.instructeur_du_dossier_relecture.open .triangle {
    transform: rotate(90deg);
}


.instructeur_du_dossier_relecture:hover .form-retirer-relecteur {
    opacity: 0.6;
}

/* ----- Retirer relecteur ----- */
.form-retirer-relecteur {
    margin-left: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form-retirer-relecteur:hover {
    opacity: 1 !important;
}

.relecture-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* bloc-gauche à gauche, croix à droite */
    width: 100%;
}




/* Bloc transmettre document signé */
.numero-acte input[type="text"] {
    padding: 0.5rem 0.8rem;
    margin-left: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    background-color: #fff;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.numero-acte input[type="text"]:focus {
    border-color: #006131;
    box-shadow: 0 0 4px rgba(0, 97, 49, 0.4);
    outline: none;
}



/* Bloc Messages envoyés */
.mails_dossier {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #f9f9f9;
    border-left: 4px solid #003366;
    font-size: 0.95rem;
    flex-direction: column;
}


.mails_dossier h3 {
    font-size: 1.4rem;
    color: #003366;
    margin-bottom: 2rem;
}

.un_mail {
    position: relative;
    padding-bottom: 1rem;
    border-bottom: #003366 solid 1px;
}

.un_mail:hover {
    background-color: #f8f8f8;
}


.titre_mail_dossier {
    display: flex;
    align-items: center;
    margin-top: 1.3rem;
    margin-bottom: 0.4rem;
}

.mails_dossier p {
    font-style: italic;
    margin: 0.2rem 0;
}

.btn_envoi_mail {
    background-color: #e0e0e0;
    color: #222;
    padding: 0.2rem 0.5rem;
    border: 1px solid #bbb;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 0.3rem 0;
}

.btn_envoi_mail:hover {
    background-color: #ccc;
}

.logo_oeil{
    height: 20px; 
    margin-left: 0.6rem;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

.logo_oeil:hover {
  transform: scale(1.2); 
}

.un_mail .croix-retirer {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: red;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.un_mail:hover .croix-retirer {
    opacity: 1;
}

.un_mail .croix-retirer:hover {
    cursor: pointer;
    transform: scale(1.3);
}