.avis-page-container {
    display: flex;
    gap: 2rem;
    padding: 4rem;
    margin-bottom: 3rem;
}

.avis {
    width: 70%;
}

/* Bouton Ajouter Avis */
.nouvelle_demande_avis{
    margin-top: 4rem;
}

.btn-nouvel-avis {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: 1px solid #006131;
  border-radius: 4px;
  color: #006131;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-nouvel-avis:hover {
  background-color: #e6ffed;
}

/* ------------------------------------ */
/*           Tables des avis            */
/* ------------------------------------ */

.table_consultations {
    margin: 2rem 0 5rem 0;
    width: 100%;
}

table {
    width: 100%;
    margin: 2rem auto;
    border-collapse: collapse;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #ccc;
    table-layout: auto;
}

thead {
    background-color: rgb(219, 219, 219);
    border-bottom: 2px solid black;
}

thead th {
    text-align: left;
    color: #006131;
}

tbody td { 
    border-bottom: 1px solid #ddd;
}

thead th,
tbody td {
    padding: 12px;
    border-right: 1px solid #ccc;
    max-width: 400px;
    word-wrap: break-word;
}


/* Alternating row colors */
tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

tbody td[colspan="6"] {
    text-align: center;
    font-style: italic;
    color: #555;
}

.clickable-row:hover {
    background-color: #eef8ee;
    cursor: pointer;
}
