/* ----------------------------------*/
/*           PAGE DOSSIER            */
/* --------------------------------- */

.page_instruction_dossier {
    margin-left: 10vh;
}



/* ---------------------------------------------------------------- */
/*                        FORMULAIRE                                */
/* ---------------------------------------------------------------- */


/* ====== Se déclarer comme instructeur ====== */
.form-declarer-instructeur {
    margin: 0;
} 

.btn-declarer {
    background-color: #155a32;
    color: white;
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: none;
    font-size: 0.95rem;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.btn-declarer:hover {
    background-color: #0e4c27;
}


/* ====== Changer Etape Dossier ====== */
.btn_dropdown_instruction:hover {
    border-radius: 0;
}



/* ====== Bloc demande de compléments ====== */
.zone-complement {
    display: none;
    margin-top: 1rem;
}

.zone-complement.show {
    display: block;
}

.textarea-complement {
    width: 100%;
    min-height: 100px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
}

.zone-pj-complement {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    gap: 1rem;
}

.btn-envoyer-complement {
    background-color: #155a32;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    font-size: 0.95rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-envoyer-complement:hover {
    background-color: #0e4c27;
}


/* ====== Bloc envoyer acte ====== */
#nature_document {
    padding: 0.5rem;
    margin: 1rem 0;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}


/* ====== Relecture juridique ====== */
.relecture_juridique label{
    font-size: 1.2rem;
}

.checkbox-relecture {
    cursor: pointer;
}

#form-relecture-juridique {
    margin-top: 1.5rem;
    margin-left: 2rem;
    font-weight: bold;
    color: #006131;
}


/* === Bloc envoyer pour validation avant signature === */
.zone-envoyer-pour-validation {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 1.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.zone-envoyer-pour-validation.show {
    display: block;
}

.zone-envoyer-pour-validation label {
    font-weight: bold;
}

.zone-envoyer-pour-validation select {
    margin-left: 1rem;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #aaa;
    background-color: white;
    cursor: pointer;
}

.zone-envoyer-pour-validation .hint-text {
    font-size: 0.95rem;
    color: #555;
}

.projet_acte_pj {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.pj-validation-avant-signature {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 2rem;
}

.envoi-pour-validation-avant-signature {
    width: 100%;
    text-align: right;
}


/* Bloc À Valider avant signature : Les docs à valider */
.validation-documents {
    background-color: #f9f9f9;
    border-left: 4px solid #006131;
    padding: 1rem;
}

.validation-documents h2 {
    margin: 0 0 1rem 0;
}

.doc-a-valider-liste {
    list-style: none;
}

.doc-item {
    display: flex;
}

.doc-titre {
    color: #006131;
    text-decoration: none;
}

.doc-titre:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Lien vers le RAA */
.validation-documents img {
    width: 20px;
    margin-left: 1rem;
    transition: transform 0.2s ease-in-out;
}

.validation-documents img:hover {
    transform: scale(1.2);
}
