* {
    margin: 0;
    padding: 0;
}

.navigation_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(17, 94, 49); */
    background-color: whitesmoke;
    border-bottom: solid black 2px;
    height: 180px;
    color: black;
}

/* Logo */
.logo-application {
    height: 100%;
}

.logo-application img {
    height: 100%;
}

/* Liens de navigation */
.container-links {
    display: flex;
    align-self: flex-end; /* Permet d’aligner en bas dans un flex parent */
}


.navigation_links {
    list-style: none;
    display: flex;
    gap: 20px;
    /* border: red solid; */
}

.navigation_links li {
    padding: 20px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid black 2px;
    border-bottom: none;
    /* background-color: rgb(72, 105, 62); */
}

.navigation_links li:not(.active):hover{
    background-color: rgb(247, 245, 245);
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}

.navigation_links a {
    text-decoration: none;
    color: rgb(17, 94, 49);
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation_links li.active a {
    font-weight: bold;
}

.navigation_links li.active {
    position: relative;
    /* background-color: rgb(236, 230, 230); */
    background-color: white;
}

.navigation_links li.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; 
    width: 100%;
    height: 2px;
    /* background-color: rgb(236, 230, 230); */
    background-color: white;
}

.navigation_links .notif_pastille{
    margin-left: 5px;
    border-radius: 50%;
    background-color: rgb(255, 216, 216);
    border: solid red 1px;
    color: rgb(255, 0, 0);
    padding: 5px 10px;
    font-size: large;
    font-weight: bold;
}

/* Informations utilisateur */
.user_information {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    gap: 20px;
    /* border: green solid; */
    /* color: white; */
    font-size: large;
    align-items: center;
    padding: 1rem;
}

.user_information .btn-logout {
    padding: 7px 14px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.user_information strong {
    font-size: 1.2rem;
}

.user_information .btn-logout:hover {
    background-color: black;
    color: white;
}


