/* Global table style */
table {
    width: 85%;
    margin: 2rem auto;
    border-collapse: collapse;
    font-family: sans-serif;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #ccc;
    table-layout: auto;
}

/* Table header */
thead {
    background-color: rgb(219, 219, 219);
    border-bottom: 2px solid black;
}

thead th {
    text-align: left;
    color: #115e31; /* proche du vert utilisé dans la navbar */
}

/* Table rows */
tbody td { 
    border-bottom: 1px solid #ddd;
}

/* Styles pour les colonnes */
thead th,
tbody td {
    padding: 12px;
    border-right: 1px solid #ccc;
    max-width: 400px;
    word-wrap: break-word;
}

/* Supprimer le trait à droite de la dernière colonne */
/* thead th:last-child,
tbody td:last-child {
    border-right: none;
} */


/* Alternating row colors */
tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

/* Hover effect */
/* tbody tr:hover {
    background-color: #eef8ee;
    cursor: pointer;
    font-weight: bold;
} */

/* Empty state */
tbody td[colspan="5"] {
    text-align: center;
    font-style: italic;
    color: #555;
}

.clickable-row:hover {
    background-color: #eef8ee;
    cursor: pointer;
    /* font-weight: bold; */
    /* font-weight: 600; */
}


/* Page title */
h1 {
    text-align: center;
    margin-top: 3rem;
    font-size: 1.8rem;
    color: #115e31;
}

