/* Global table style */
table {
    width: 85%;
    margin: 2rem auto;
    border-collapse: collapse;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border: 1px solid #ccc;
    table-layout: auto;
    line-height: 1.5;
}

/* Table header */
thead {
    background-color: rgb(219, 219, 219);
    border-bottom: 2px solid black;
}

thead th {
    text-align: left;
    color: #006131;
}

/* Table rows */
tbody td { 
    border-bottom: 1px solid #ddd;
}

tbody .td_demarche{
    font-weight: bold;
}

/* Styles pour les colonnes */
thead th,
tbody td {
    padding: 12px;
    border-right: 1px solid #ccc;
    max-width: 400px;
    word-wrap: break-word;
}

/* Supprimer le trait à droite de la dernière colonne */
/* thead th:last-child,
tbody td:last-child {
    border-right: none;
} */


/* Alternating row colors */
tbody tr:nth-child(even) {
    background-color: #f0f0f0;
}

/* Hover effect */
/* tbody tr:hover {
    background-color: #eef8ee;
    cursor: pointer;
    font-weight: bold;
} */

/* Empty state */
tbody td[colspan="5"] {
    text-align: center;
    font-style: italic;
    color: #555;
}

.clickable-row:hover {
    background-color: #eef8ee;
    cursor: pointer;
    /* font-weight: bold; */
    /* font-weight: 600; */
}


/* Page title */
h1 {
    text-align: center;
    /* margin-top: 3rem; */
    font-size: 2.5rem;
    /* color: #006131;*/
    color: #333;
    margin: 30px 0;
    font-weight: 600;
}


/* Manifestations sportives */
h2 {
    margin-left: 7.5%;
    margin-top: 3rem;
}

.h2_first {
    margin-top: 2rem;
}

.manif-sportive {
    border-top: 1px solid #006131;
    margin-top: 12rem;
    padding-top: 4rem;
}

/* Actualisation manifs sportives */
.refresh-doss {
    text-align: left;
    margin-top: 1rem;
    margin-left: 7.5%;
}

.refresh-doss form {
    display: inline-block;
}

.refresh-button {
    background-color: #f1f1f1;
    color: #333;
    border: 1px solid #ccc;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.2s ease;
}

.refresh-button:hover {
    background-color: #e0e0e0;
}

.refresh-button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

.refresh-icon {
    width: 18px;
    height: 18px;
    transition: transform 0.4s ease-in-out;
}

.refresh-button:hover .refresh-icon {
    transform: rotate(180deg);
}
