{% load static %}
{% load breadcrumb_tags %}
{% load group_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messagerie</title>

    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="{% static 'instruction/img/favicon.ico' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'instruction/css/instruction_dossier_avis.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/messagerie.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/instruction_dossier_messagerie.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/avis_expert.css' %}">
    
</head>
<body>
    {% include 'navbar.html' %}
    {% breadcrumb breadcrumb_items %}

    
    <div class="page-container">
        <!-- Colonne gauche : Messagerie -->
        <div class="messagerie">
            <h1>AVIS n° {{ avis.id }} - {{ avis.demarche_effective.type }}</h1>

            <div class="badge_et_publi_raa">
                {% if est_expert and avis.favorable == None %}
                    <div class="joindre_avis_signe">
                        <button type="button" id="toggle-form-avis" class="btn-donner-avis">Je donne mon avis</button>

                        <form id="form-donner-avis" class="form-donner-avis" method="post" enctype="multipart/form-data"
                            action="{% url 'donner_son_avis' avis.id %}">
                            {% csrf_token %}

                            <div class="avis-choix">
                                <label>Votre réponse :</label>
                                <select name="reponse_expert" id="reponse_expert" required>
                                    <option value="" disabled selected>Sélectionner</option>
                                    <option value="Favorable">
                                        Favorable
                                    </option>

                                    <option value="Favorable sous réserve">
                                        Favorable sous réserve
                                    </option>

                                    <option value="Défavorable">
                                        Défavorable
                                    </option>
                                </select>
                            </div>

                            <div class="avis-fichier">
                                <label for="avis-signe">Joindre l'avis signé {% if not avis.id_projet_avis %}(optionnel){% endif %} :</label>
                                <input type="file" id="avis-signe" name="avis_signe" accept=".pdf">
                            </div>

                            <button type="submit" class="btn-confirmer-avis">Confirmer</button>
                        </form>
                    </div>
                {% else %}
                    <div class="etat-badge-menu-avis {% if avis.favorable %}etat-green{% elif avis.favorable is not None %}etat-red{% endif %}">
                        {% if avis.date_reponse_avis %}
                            {% if avis.favorable and not avis.sous_reserve %}
                                Avis rendu : Favorable
                            {% elif avis.favorable and avis.sous_reserve %}
                                Avis rendu : Favorable sous réserve
                            {% elif avis.favorable == False %}
                                Avis rendu : Défavorable
                            {% else %}
                                Avis rendu
                            {% endif %}
                        {% else %}
                            En attente de réponse
                        {% endif %}
                    </div>

                    {% if avis.publie_au_raa %}
                        <div class="publication_raa_faite">
                            <p> Publication au RAA faite </p>
                        </div>
                    {% endif %}
                {% endif %}

                
                {% if request.user|est_concerne_par_avis:avis and expert_is_CS %}
                    <!-- Publication RAA faite ? -->
                    {% if avis.favorable and avis_signes and not avis.publie_au_raa %}
                        {% if not est_expert or request.user|has_group:"Publication RAA Avis CS" %}
                            <div class="publication_raa">
                                <form id="form-publier-raa-{{ avis.id }}" 
                                    action="{% url 'publier_avis_raa' avis.id %}" 
                                    method="post" 
                                    style="display:none;">
                                    {% csrf_token %}
                                </form>

                                <button type="button" 
                                        class="btn-publier-raa" 
                                        onclick="confirmerPublicationRAA('{{ avis.id }}')">
                                    Valider la publication au RAA
                                </button>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>


            {% if est_expert and avis.favorable != None %}
                {% if avis_signes %}
                    <div class="avis_signes">
                        {% for as in avis_signes %}
                            <li>
                                <div class="ligne_un_avis_signe">
                                    <span>Avis signé :</span>
                                    <a href="{% url 'afficher_annexe' chemin=as.emplacement titre=as.titre %}" class="a_avis_signe" title="Voir l'avis signé" target="_blank" rel="noopener noreferrer">
                                        {{as.titre}}
                                    </a>
                                    <a href="{% url 'afficher_annexe' chemin=as.emplacement titre=as.titre %}" title="Voir l'avis signé" target="_blank" rel="noopener noreferrer">
                                        <img src="{% static 'instruction/img/logo_pdf.png' %}" alt="PDF" class="doc-icon-avis-signe">
                                    </a>
                                    
                                    {% if request.user|est_concerne_par_avis:avis %}
                                        <form id="form-remplacer-{{ avis.id }}-{{ as.id }}" 
                                            action="{% url 'remplacer_avis_signe' %}" 
                                            method="post" 
                                            enctype="multipart/form-data" 
                                            style="display:none;">
                                            {% csrf_token %}
                                            <input type="hidden" name="avis_id" value="{{ avis.id }}">
                                            <input type="hidden" name="document_id" value="{{ as.id }}">
                                            <input type="file" name="fichier" accept=".pdf" onchange="confirmerRemplacement(this)">
                                        </form>

                                        <a href="#" class="modif_avis_signe" 
                                        title="Remplacer l'avis signé"
                                        onclick="ouvrirFichier(event, '{{ avis.id }}', '{{ as.id }}')">
                                            <img src="{% static 'instruction/img/modifier.svg' %}" 
                                                alt="Remplacer l'avis signé" 
                                                class="icon-modif-avis-signe">
                                        </a>
                                    {% endif %}

                                </div>      
                            </li>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="deposer_mon_avis">
                        <!-- Formulaire caché -->
                        <form id="form-deposer-{{ avis.id }}"
                            action="{% url 'deposer_avis_signe' %}"
                            method="post"
                            enctype="multipart/form-data"
                            style="display:none;">
                            {% csrf_token %}
                            <input type="hidden" name="avis_id" value="{{ avis.id }}">
                            <input type="file" name="fichier" accept=".pdf" onchange="confirmerDepotAvis(this)">
                        </form>

                        <!-- Bouton principal -->
                        <button type="button"
                                class="btn-deposer-avis"
                                onclick="ouvrirDepotAvis('{{ avis.id }}')">
                            Déposer mon avis signé
                        </button>
                    </div>
                {% endif %}
            {% endif %}


            
            <div class="chat-container">
                {% for msg in messages_avis %}
                    <div class="message message-{{ msg.align }} {% if msg.nouv_mess == 'oui' %}nouv-mess{% endif %}"
                    {% if msg.nouv_mess == 'oui' and not est_demandeur %}
                        title="Vous n'êtes pas le/la demandeur.euse, le message restera comme 'non lu'"
                    {% endif %}>

                        <div class="msg-body">
                            <p>{{ msg.body|safe|linebreaksbr }}</p>
                            {% if msg.pj_emplacement and msg.pj_title %}
                                <div class="pj-download">
                                    <!-- <a href="{{ msg.pj_url }}" target="_blank" download>{{ msg.pj_title }}</a> -->
                                    <a href="{% url 'afficher_annexe' chemin=msg.pj_emplacement titre=msg.pj_title %}" target="_blank" rel="noopener noreferrer">{{ msg.pj_title }}</a>
                                
                                </div>
                            {% endif %}
                        </div>
                        <span class="timestamp">
                            <span class="emetteur_message">
                                {% if msg.emetteur %}
                                    {{ msg.emetteur }}
                                {% endif %}
                            </span>
                            <span>{{ msg.date_envoi }}</span>

                            {% if msg.align == 'right' and msg.emetteur.email == request.user.email %}
                                <!-- Formulaire pour supprimer le message -->
                                <form method="post" action="{% url 'supprimer_message_avis_vision_expert' msg.id %}" class="delete-form" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="delete-button" title="Supprimer le message">
                                        <img src="{% static 'instruction/img/trash.svg' %}" alt="Supprimer" class="trash-icon">
                                    </button>
                                    <input type="hidden" name="avis_id" value="{{ avis.id }}">
                                </form>
                            {% endif %}
                        </span>

                    </div>
                {% empty %}
                    <p>Aucun message pour cet avis.</p>
                {% endfor %}
            </div>

            {% if messages %}
                <div class="django-messages">
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        
            {% if est_demandeur or est_expert or est_instructeur_du_dossier or request.user.is_superuser %}
                <form class="message-form" method="post" enctype="multipart/form-data" action="{% url 'envoyer_message_avis_vision_expert' %}"> 
                    {% csrf_token %}
                    <input type="hidden" name="avis_id" value="{{ avis.id }}">
                    <textarea name="body" placeholder="Écrire un message..." required></textarea>
                    <div class="pj-actions">
                        <div class="pj-input-wrapper">
                            <input type="file" name="piece_jointe" accept=".pdf,.png,.jpg,.jpeg,.doc,.docx">
                            <span class="pj-max">(20 Mo max)</span>
                        </div>
                        <button type="submit" title="Envoyer le message">Envoyer</button>
                    </div>
                </form>
            {% endif %}
        </div>


        <!-- Colonne droite : navigation -->
        <div class="nav_preinstruction">
           
            <div class="infos-avis infos-avis-expert">
                <div class="nature_et_lien_avis">
                    <h2>{{avis.id_avis_nature.nature}}</h2>

                    {% if avis.emplacement %}
                        <!-- Lien Avis à droite -->
                        <a href="#" onclick="copierChemin('{{NAS_ROOT}}{{ avis.emplacement }}')" title="Copier l'emplacement de l'avis">
                            <img src="{% static 'instruction/img/folder.png' %}" alt="Emplacement de l'avis">
                        </a>
                    {% endif %}
                </div>
                
                <p>
                    <strong>Expert.e :</strong>
                    <span class="{% if avis.id_expert.est_interne and avis.id_expert.id_instructeur.email == request.user.email or not avis.id_expert.est_interne and avis.id_expert.id_contact_externe.email == request.user.email %}highlight-user{% endif %}">
                        {{ avis.id_expert }}
                    </span>
                </p>

                <p>
                    <strong>Demandeur.euse :</strong>
                    <span class="{% if avis.id_instructeur.email == request.user.email %}highlight-user{% endif %}">
                        {{ avis.id_instructeur }}
                    </span>
                </p>

                <p> <strong>Date de la demande :</strong> {{ avis.date_demande_avis|date:"d/m/Y" }} </p>

                {% if avis.date_transmission_cs %}
                    <p><strong>Date de transmission aux membres du CS :</strong> {{ avis.date_transmission_cs|date:"d/m/Y" }}</p>
                {% elif expert_is_CS and est_expert %}
                    <form method="post" action="{% url 'enregistrer_date_transmission_cs' avis.id %}" class="form-date-cs">
                        {% csrf_token %}
                        <label for="date_transmission_cs"><strong>Date de transmission aux membres du CS :</strong></label>
                        <input type="date" id="date_transmission_cs" name="date_transmission_cs" required>
                        <button type="submit" class="btn-valider-date-cs">Enregistrer</button>
                    </form>
                {% endif %}


                {% if avis.date_reponse_avis %}
                    <p> <strong>Date de réponse :</strong> {{ avis.date_reponse_avis|date:"d/m/Y" }} </p>
                {% endif %}

                {% if avis.id_avis_thematique and avis.id_avis_thematique.thematique != 'Autre' %}
                    <p> <strong>Thématique :</strong> {{ avis.id_avis_thematique.thematique }} </p>
                {% endif %}
            </div>

            <div class="dossiers_lies">
                <h2>
                    {% if dossiers_lies|length > 1 %}
                        Dossiers liés
                    {% else %}
                        Dossier lié
                    {% endif %}
                </h2>

                <ul class="liste-dossiers-avis">
                    {% for dossier in dossiers_lies %}
                        <li>
                            <div class="doss_et_resume">
                                <a href="{% url 'instruction_dossier' dossier.numero %}" target="_blank" class="dossier_lien" title="Voir le dossier">
                                    <strong>Dossier n° {{ dossier.numero }}</strong> – {{ dossier.id_demarche.type|truncatechars:34 }}
                                </a>
                                <a href="{% url 'afficher_annexe' chemin=dossier.emplacement titre=dossier.resume_pdf_titre %}" target="_blank" rel="noopener noreferrer">
                                    <img src="{% static 'instruction/img/logo_pdf.png' %}" alt="PDF" title="Télécharger le résumé du dossier" class="doc-icon doc-icon-expert">
                                </a>
                            </div>
                        </li>
                    {% empty %}
                        <li><em>Aucun dossier lié à cet avis.</em></li>
                    {% endfor %}
                </ul>
            </div>


            <div class="infos-docs">
                <!-- === Section Documents === -->
                <h2>Documents</h2>
                <ul class="liste-documents-avis">
                    {% if avis.id_projet_avis %}
                        <li>
                            <p><strong>Projet d'avis :</strong></p>
                            {% with avis.id_projet_avis.titre|lower as titre %}
                                {% if titre|slice:"-4:" == ".pdf" %}
                                    <img src="{% static 'instruction/img/logo_pdf.png' %}" alt="PDF" class="doc-icon">
                                {% else %}
                                    <img src="{% static 'instruction/img/logo_word.png' %}" alt="Word" class="doc-icon">
                                {% endif %}
                            {% endwith %}
                            <a href="{% url 'afficher_annexe' chemin=avis.id_projet_avis.emplacement titre=avis.id_projet_avis.titre %}" 
                            target="_blank" rel="noopener noreferrer">
                                {{ avis.id_projet_avis.titre }}
                            </a>
                        </li>
                    {% endif %}

                    {% if avis.id_projet_acte %}
                        <li>
                            <p><strong>Projet d'acte {% if avis.id_projet_acte.numero %} {{ avis.id_projet_acte.numero }} {% endif %} :</strong></p>
                            <img src="{% static 'instruction/img/logo_pdf.png' %}" alt="PDF" class="doc-icon">
                            <a href="{% url 'afficher_annexe' chemin=avis.id_projet_acte.emplacement titre=avis.id_projet_acte.titre %}" 
                            target="_blank" rel="noopener noreferrer">
                                {{ avis.id_projet_acte.titre }}
                            </a>
                        </li>
                    {% endif %}

                    {% if avis.id_rapport_instance %}
                        <li>
                            <p><strong>Rapport du conseil :</strong></p>
                            <img src="{% static 'instruction/img/logo_pdf.png' %}" alt="PDF" class="doc-icon">
                            <a href="{% url 'afficher_annexe' chemin=avis.id_rapport_instance.emplacement titre=avis.id_rapport_instance.titre %}" 
                            target="_blank" rel="noopener noreferrer">
                                {{ avis.id_rapport_instance.titre }}
                            </a>
                        </li>
                    {% endif %}
                    

                    {% if avis_documents %}
                        <div class="pj_avis">
                            {% for ad in avis_documents %}
                                <!-- On exclu l'avis signé -->
                                {% if ad.nature != 'Avis Instance' %}
                                    <li class="pj-item">
                                        <p class="pj_title"><strong>Pièce jointe :</strong></p>
                                        {% if ad.id_document.id_format.format == 'pdf' %}
                                            <img src="{% static 'instruction/img/logo_pdf.png' %}" alt="PDF" class="doc-icon">
                                        {% elif ad.id_document.id_format.format == 'docx' or ad.id_document.id_format.format == 'doc' or ad.id_document.id_format.format == 'odt' %}
                                            <img src="{% static 'instruction/img/logo_word.png' %}" alt="Word" class="doc-icon">
                                        {% elif ad.id_document.id_format.format == 'png' %}
                                            <img src="{% static 'instruction/img/logo_png.png' %}" alt="Word" class="doc-icon">
                                        {% else %}
                                            <img src="{% static 'instruction/img/logo_file.png' %}" alt="Word" class="doc-icon">
                                        {% endif %}
                                        <a href="{% url 'afficher_annexe' chemin=ad.id_document.emplacement titre=ad.id_document.titre  %}" target="_blank">
                                            {{ ad.id_document.titre }}
                                        </a>
                                        
                                        {% if request.user|est_concerne_par_avis:avis %}
                                            <!-- Formulaire suppression PJ -->
                                            <form method="post" action="{% url 'supprimer_pj_avis' avis.id ad.id_document.id %}" class="form-supprimer-pj">
                                                {% csrf_token %}
                                                <button type="button" class="btn-supprimer-pj" title="Supprimer la pièce jointe" onclick="confirmerSuppressionPJ(this)">✕</button>
                                            </form>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </ul>

                {% if request.user|est_concerne_par_avis:avis %}
                    <div class="bouton_ajouter_pj">
                        <form id="form-ajout-pj" method="post" enctype="multipart/form-data"
                            action="{% url 'ajouter_pj_avis' avis_id=avis.id %}">
                            {% csrf_token %}
                            <input type="file" id="input-pj-avis" name="pj_avis" 
                                accept=".pdf,.png,.jpg,.jpeg,.doc,.docx" multiple style="display:none">
                        </form>

                        <!-- Données JSON des documents existants -->
                        {{ liste_avis_documents|json_script:"docs-existants" }}

                        <!-- Bouton flottant + -->
                        <button type="button" class="btn-ajouter-pj" title="Ajouter des pièces jointes"
                                onclick="document.getElementById('input-pj-avis').click();">
                            +
                        </button>
                    </div>
                {% endif %}

            </div>

            {% if avis.note %}
                <div class="infos-note-avis">
                    <h2>Notes des demandeurs</h2>

                    <form method="post" action="{% url 'mettre_a_jour_note_avis' avis.id %}" class="form-note-avis">
                        {% csrf_token %}

                        <!-- <textarea name="note" rows="5">{{ avis.note }}</textarea> -->

                        <textarea name="note" rows="5"
                            {% if not request.user|est_concerne_par_avis:avis %}
                                readonly
                                title="Vous devez être concerné.e par l'avis pour modifier cette note"
                            {% endif %}>{{ avis.note }}</textarea>

                        {% if request.user|est_concerne_par_avis:avis %}
                            <button type="submit" class="valider-btn" title="Mettre à jour la note">Mettre à jour</button>
                        {% endif %}
                    </form>
                </div>
            {% endif %}


        </div>
    </div>
        

    <!-- Défilement automatique en bas et gestion de l'envoi du message -->
    <script>
        window.addEventListener('load', function() {
            const chatContainer = document.querySelector('.chat-container');
            if (chatContainer) {
                chatContainer.scrollTop = chatContainer.scrollHeight;
            }

            const messageForm = document.querySelector('.message-form');
            const sendButton = messageForm?.querySelector('button[type="submit"]');

            if (messageForm && sendButton) {
                messageForm.addEventListener('submit', function() {
                    sendButton.disabled = true;
                    sendButton.innerText = 'Envoi...';
                });
            }
        });
    </script>

            
    <!-- POP UP Confirmation pour écrasage d'une pj deja existante -->
    <script>
        // Confirmation PJ avant upload
        document.addEventListener("DOMContentLoaded", function () {
            const inputPJ = document.getElementById("input-pj-avis");
            const formPJ = document.getElementById("form-ajout-pj");
            const docsExistantsEl = document.getElementById("docs-existants");

            if (inputPJ && formPJ && docsExistantsEl) {
                const docsExistants = JSON.parse(docsExistantsEl.textContent);

                inputPJ.addEventListener("change", function () {
                    const fichiers = Array.from(inputPJ.files);

                    for (const f of fichiers) {
                        const dejaExistant = docsExistants.some(
                            d => d.titre.toLowerCase() === f.name.toLowerCase()
                        );

                        if (dejaExistant) {
                            const ok = confirm(
                                `Un fichier nommé "${f.name}" existe déjà.\nVoulez-vous le remplacer ?`
                            );
                            if (!ok) {
                                inputPJ.value = ""; // annule la sélection
                                return;
                            }
                        }
                    }

                    // soumission après la vérif
                    formPJ.submit();
                });
            }
        });
    </script>

    <!-- Supprimer PJ Avis -->
    <script>
        function confirmerSuppressionPJ(bouton) {
            if (confirm("Supprimer définitivement cette pièce jointe de l'avis ?")) {
                bouton.closest("form").submit();
            }
        }
    </script>


    <!-- Afficher form pour donner son avis -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const btnToggle = document.getElementById("toggle-form-avis");
            const formAvis = document.getElementById("form-donner-avis");
            const infosAvis = document.querySelector(".infos-avis-expert");

            if (btnToggle && formAvis && infosAvis) {
                btnToggle.addEventListener("click", function () {
                    const isOpen = formAvis.style.display === "block";

                    if (isOpen) {
                        formAvis.style.display = "none";
                        infosAvis.classList.remove("with-form");
                    } else {
                        formAvis.style.display = "block";
                        infosAvis.classList.add("with-form");
                    }
                });
            }
        });
    </script>


    <!-- Required dynamique pour le form 'Donner son avis' -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const inputFile = document.getElementById("avis-signe");
            const radios = document.querySelectorAll("input[name='favorable']");
            const projetAvisExiste = {{ avis.id_projet_avis|yesno:"true,false" }};  // renvoie true ou false

            function updateRequired() {
                if (!inputFile) return;
                const checked = document.querySelector("input[name='favorable']:checked");
                if (projetAvisExiste && checked && checked.value === "true") {
                    inputFile.required = true;
                } else {
                    inputFile.required = false;
                }
            }

            radios.forEach(radio => {
                radio.addEventListener("change", updateRequired);
            });

            // Vérif initiale
            updateRequired();
        });
    </script>

    <script>
        // Copier l'emplacement du Dossier
        function copierChemin(chemin) {
            if (navigator.clipboard && window.isSecureContext) {
                navigator.clipboard.writeText(chemin)
                    .then(() => alert("Chemin copié dans le presse-papiers :\n" + chemin))
                    .catch(err => alert("Erreur de copie : " + err));
            } else {
                // Fallback : création d’un input caché
                const input = document.createElement("textarea");
                input.value = chemin;
                document.body.appendChild(input);
                input.select();
                try {
                    document.execCommand("copy");
                    alert("Chemin copié dans le presse-papiers :\n" + chemin);
                } catch (err) {
                    alert("Impossible de copier le chemin : " + err);
                }
                document.body.removeChild(input);
            }
        }
    </script>


    <!-- Remplacer l'avis signé -->
   <script>
        function ouvrirFichier(event, avisId, docId) {
            event.preventDefault();
            const input = document.querySelector(`#form-remplacer-${avisId}-${docId} input[type='file']`);
            if (input) input.click();
        }

        function confirmerRemplacement(input) {
            const fichier = input.files[0];
            if (!fichier) return;

            const ext = fichier.name.split('.').pop().toLowerCase();
            if (ext !== "pdf") {
                alert("❌ Le fichier doit être au format PDF.");
                input.value = "";
                return;
            }

            const ok = confirm(`Voulez-vous vraiment remplacer l'avis signé par "${fichier.name}" ?`);
            if (ok) {
                console.log("Form envoyé :", input.closest("form"));
                console.log("avis_id =", input.closest("form").querySelector("input[name='avis_id']").value);
                console.log("document_id =", input.closest("form").querySelector("input[name='document_id']").value);

                input.closest("form").submit();
            } else {
                input.value = "";
            }
        }
    </script>

    <!-- Déposer l'avis signé -->
    <script>
        function ouvrirDepotAvis(avisId) {
            const input = document.querySelector(`#form-deposer-${avisId} input[type='file']`);
            if (input) input.click();
        }

        function confirmerDepotAvis(input) {
            const fichier = input.files[0];
            if (!fichier) return;

            const ext = fichier.name.split('.').pop().toLowerCase();
            if (ext !== "pdf") {
                alert("❌ Le fichier doit être au format PDF.");
                input.value = "";
                return;
            }

            const ok = confirm(`Voulez-vous déposer l'avis signé "${fichier.name}" ?`);
            if (ok) {
                input.closest("form").submit();
            } else {
                input.value = "";
            }
        }
    </script>

    <!-- Confirmation avis signé publié au RAA -->
    <script>
        function confirmerPublicationRAA(avisId) {
            const ok = confirm("Confirmez-vous que l'avis a bien été publié au RAA ?");
            if (ok) {
                document.getElementById(`form-publier-raa-${avisId}`).submit();
            }
        }
    </script>




    
</body>
</html>