{% load static %}
{% load group_tags %}


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil des avis</title>
    <link rel="stylesheet" href="{% static 'instruction/css/avis.css' %}">
</head>
<body>

    {% include 'navbar.html' %}
    
    <!-- <h1>Page des avis</h1> -->
    <!-- <br>

    {% if request.user|has_group:"Test" %}
        <p>Vous voyez cette phrase car vous appartenez au groupe 'Test'</p>
    {% endif %} -->
    
</body>
</html>