{% load static %}
{% load group_tags %}
{% load breadcrumb_tags %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dossier manifestations sportives</title>

    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="{% static 'instruction/img/favicon.ico' %}">
    
    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Turf.js -->
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>

    <!-- Leaflet impression PDF -->
    <script src="https://unpkg.com/leaflet.browser.print/dist/leaflet.browser.print.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'instruction/css/dossier.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/dossier_manif_sportive_sans_ds.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/pois.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/carto/picto-vtm-img.css' %}">

    <!-- JS -->
    <!-- Copier chemin d'accès du dossier -->
    <script src="{% static 'instruction/js/copie_chemin.js' %}"></script>

    <!-- Pour le menu déroulant des étapes -->
    <script src="{% static 'instruction/js/dossier_commun.js' %}"></script>

</head>
<body>
    {% include 'navbar.html' %}
    {% breadcrumb breadcrumb_items %}

    <div class="page-container">
        <div class="formulaire_dm">
            
            <!-- Copier le chemin d'accès du dossier -->
            <button type="button" class="btn-copy-dossier" data-path="{{ chemin_complet }}" aria-label="Copier le chemin d'accès du dossier" title="Copier le chemin d'accès du dossier">
                <img class="icon-default" src="{% static 'instruction/img/folderv2.png' %}" alt="">
                <img class="icon-hover" src="{% static 'instruction/img/copy.png' %}" alt="">
                <span class="copy-feedback" role="status" aria-live="polite">Chemin copié</span>
            </button>
            
            <div class="en_attente_DS">
                <div class="en_attente_DS_message">
                    <p>En attente d'un dossier Démarche Numérique</p>

                    {% if dossier_dn_meme_numero_deja_lie %}
                        <p class="message_info_liaison">
                            Pour information, le dossier Démarche Numérique N°{{dossier_dn_meme_numero_deja_lie.numero}} possède pour le champ 
                            « Numéro du dossier sur la plateforme déclaration-manifestations » la valeur {{doss_manif_sportive.numero_dossier_declaration_manifestations}}. 
                            Toutefois ce dossier est déjà lié à un autre dossier Déclaration Manifestations. Si cela pose problème, contactez le support.
                        </p>
                    {% endif %}

                    {% if dossier_dn_meme_numero_pas_lie_acte_envoye %}
                        <p class="message_info_liaison">
                            Pour information, le dossier Démarche Numérique N°{{dossier_dn_meme_numero_pas_lie_acte_envoye.numero}} a son champ 
                            « Numéro du dossier sur la plateforme déclaration-manifestations » qui vaut {{doss_manif_sportive.numero_dossier_declaration_manifestations}}. 
                            Toutefois ce dossier Démarche Numérique est déjà à l'étape {{dossier_dn_meme_numero_pas_lie_acte_envoye.id_etape.etape}}. 
                            Pour effectuer une liaison entre les deux dossiers, vous devez d'abord archiver le dossier {{doss_manif_sportive.nom_dossier}} sur Déclaration Manifestations.
                        </p>
                    {% endif %}

                    {% if dossier_dn_meme_numero_pas_lie_acte_pas_envoye %}
                        <p class="message_info_liaison">
                            Pour information, le dossier Démarche Numérique N°{{dossier_dn_meme_numero_pas_lie_acte_pas_envoye.numero}} a son champ 
                            « Numéro du dossier sur la plateforme déclaration-manifestations » qui vaut {{doss_manif_sportive.numero_dossier_declaration_manifestations}}. 
                            Si ces deux dossiers concernent la même manifestation, vous pouvez les relier.
                        </p>
                    {% endif %}

                </div>

                <div class="bloc_liaison_ds">
                    <button type="button" class="btn-liaison-ds" id="toggle-liaison-ds">
                        Relier à un dossier Démarche Numérique
                    </button>

                    <div class="form-liaison-ds" id="form-liaison-ds">
                        <form method="post" id="form-liaison-manif-dn" action="{% url 'lier_dossier_manif_sportive_a_DN' %}">
                            {% csrf_token %}

                            <input type="hidden" name="id_dossier_dm" value="{{ doss_manif_sportive.id }}">
                            <!-- <input type="hidden" name="id_dossier_dn" value=None> -->

                            <p class="info_liaison">
                                Dans certains cas, la liaison entre un dossier Déclaration Manifestations et un dossier Démarche Numérique peut ne pas se faire toute seule. 
                                <br><br>
                                C'est par exemple le cas si en remplissant son formulaire Démarche Numérique, le pétitionnaire s'est trompé en renseignant son "numéro de dossier Déclaration Manifestations". 
                                <br><br>
                                Dans ce cas là, vous devez relier ces deux dossiers manuellement.
                            </p>

                            <label for="dossier_dn_id">Choisir un dossier DN en réception</label>
                            <select name="dossier_dn_id" id="dossier_dn_id" required>
                                <option value="" selected disabled>-- Sélectionner un dossier --</option>
                                {% for dossier in dossiers_DN_manif_sportive_non_lie %}
                                    <option value="{{ dossier.id }}">
                                        {{ dossier.numero }} — {{ dossier.nom_manifestation }}
                                    </option>
                                {% endfor %}
                            </select>

                            <button type="submit" class="btn-valider-liaison">
                                Confirmer la liaison
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            {% if messages %}
                <div class="django-messages">
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="titre-manif">
                <h1> {{ doss_manif_sportive.nom_dossier|default:"Non renseigné" }} </h1>
            </div>


            <!-- Etape du dossier DM -->
            <div class="etat-badge-container">
                <div class="etat-badge-menu-dropdown">

                    <div class="etat-badge-label" id="etapeMenuToggle" 
                    {% if not request.user|est_autorise_a_agir_reception_manif_sportive %} title="Vous devez être concerné.e par le dossier pour pouvoir changer d'étape" {% endif %}>
                        {{ doss_manif_sportive.id_etape.etape|default:"Non défini" }}
                        <span class="dropdown-arrow">&#9660;</span>
                    </div>

                    {% if request.user.is_superuser or request.user|est_autorise_a_agir_reception_manif_sportive %}
                        <div class="etat-badge-menu-content" id="etapeMenuContent">

                                {% if actions_possibles %}
                                    {% for label in actions_possibles %}
                                    
                                        {% if label == "Déclaration Manifestations - Accepter" %}
                                            <button type="button" class="btn_dropdown_instruction" onclick="afficherFormulaireAccepterDeclarationManifestations()">Donner un avis favorable sur Déclaration Manifestations</button>

                                        {% elif label == "Déclaration Manifestations - Refuser" %}
                                            <button type="button" class="btn_dropdown_instruction" onclick="afficherFormulaireRefuserDeclarationManifestations()">Rendre un avis défavorable sur Déclaration Manifestations</button>

                                        {% elif label == "Déclaration Manifestations - Non Soumis" %}
                                            <button type="button" class="btn_dropdown_instruction" onclick="afficherFormulaireNonSoumisDeclarationManifestations()">Préciser que le Parc n'est pas concerné par ce dossier</button>
                                        
                                        {% endif %}

                                    {% endfor %}
                                {% else %}
                                    <button type="button" class="btn_dropdown_instruction">Aucune action disponible</button>
                                {% endif %}

                        </div>
                    {% endif %}
                </div>



                <!-- Lien DM -->
                <a class="icon_DM" href="https://declaration-manifestations.gouv.fr/instructions/avis/{{ avis_manif_sportive.id_avis_manif_sportive }}/#parcours" target="_blank">
                    <img src="{% static 'instruction/img/prefet_icon_color.svg' %}"
                        alt="Visualiser le dossier sur Déclaration manifestations"
                        title="Visualiser le dossier sur Déclaration manifestations">
                </a>

            </div>

        
            <!-------------------------------------------------------------------------->
            <!-- Zone masquée pour accepter un dossier sur Déclaration Manifestations -->
            <!-------------------------------------------------------------------------->
            <div id="formulaire-accepter-dm" class="zone-complement zone-envoyer-pour-validation">
                <form id="form-accepter-dm" method="post" enctype="multipart/form-data" action="{% url 'declaration_manifestations_accepter_url' %}">
                    {% csrf_token %}
                    <input type="hidden" name="dossierDM_id" value="{{ doss_manif_sportive.id }}">

                    <h2>Dépôt d'un avis favorable sur Déclaration Manifestations</h2>
                    <h4>Prescriptions transmises au demandeur :</h4>
                    <textarea name="prescriptions" class="textarea-complement" placeholder="Prescriptions" required>Avis favorable.</textarea>
                    
                    <div class="zone-pj-complement">
                        <label for="acte-accepte">Joindre l'acte :</label>
                        <input type="file" id="acte-accepte" name="acte" accept=".pdf,.doc,.docx,.odt,.jpg,.jpeg,.png,.xls,.xlsx">
                    </div>
                    <p class="hint-text">Taille maximale de la pièce jointe : <strong>5Mo</strong></p>

                    <div class="zone-pj-complement">
                        <label for="files-accepte">Joindre une ou plusieurs pièces jointes (taille max par document 5Mo) :</label>
                        <input type="file" id="files-accepte" name="files" multiple accept=".pdf,.doc,.docx,.odt,.jpg,.jpeg,.png,.xls,.xlsx">
                    </div>

                    <p class="hint-text">Taille maximale pour une pièce jointe : <strong>5Mo</strong></p>

                    <div class="zone-confirmer-formulaire">
                        <button type="button" class="btn-confirmer-formulaire" onclick="confirmerAccepterDM()">Confirmer</button>
                    </div>

                </form>
            </div>


            <!-------------------------------------------------------------------------->
            <!-- Zone masquée pour refuser un dossier sur Déclaration Manifestations -->
            <!-------------------------------------------------------------------------->
            <div id="formulaire-refuser-dm" class="zone-complement zone-envoyer-pour-validation">
                <form id="form-refuser-dm" method="post" enctype="multipart/form-data" action="{% url 'declaration_manifestations_refuser_url' %}">
                    {% csrf_token %}
                    <input type="hidden" name="dossierDM_id" value="{{ doss_manif_sportive.id }}">

                    <h2>Dépôt d'un avis défavorable sur Déclaration Manifestations</h2>
                    <h4>Prescriptions transmises au demandeur :</h4>
                    <textarea name="prescriptions" class="textarea-complement" placeholder="Prescriptions" required>Avis défavorable.</textarea>
                    
                    <div class="zone-pj-complement">
                        <label for="acte-refuse">Joindre l'acte :</label>
                        <input type="file" id="acte-refuse" name="acte" accept=".pdf,.doc,.docx,.odt,.jpg,.jpeg,.png,.xls,.xlsx">
                    </div>
                    <p class="hint-text">Taille maximale de la pièce jointe : <strong>5Mo</strong></p>

                    <div class="zone-pj-complement">
                        <label for="files-refuse">Joindre une ou plusieurs pièces jointes :</label>
                        <input type="file" id="files-refuse" name="files" multiple accept=".pdf,.doc,.docx,.odt,.jpg,.jpeg,.png,.xls,.xlsx">
                    </div>
                    <p class="hint-text">Taille maximale pour une pièce jointe : <strong>5Mo</strong></p>

                    <div class="zone-confirmer-formulaire">
                        <button type="button" class="btn-confirmer-formulaire" onclick="confirmerRefuserDM()">Confirmer</button>
                    </div>

                </form>
            </div>


            <!------------------------------------------------------------------------------------------>
            <!-- Zone masquée pour mettre en 'Non Concerné' un dossier sur Déclaration Manifestations -->
            <!------------------------------------------------------------------------------------------>
            <div id="formulaire-non-soumis-dm" class="zone-complement zone-envoyer-pour-validation">
                <form id="form-non-soumis-dm" method="post" enctype="multipart/form-data" action="{% url 'declaration_manifestations_non_soumis_url' %}">
                    {% csrf_token %}
                    <input type="hidden" name="dossierDM_id" value="{{ doss_manif_sportive.id }}">
                    <h2>Préciser sur Déclaration Manifestations que le Parc n'est pas concerné par ce dossier</h2>
                    <h4>Prescriptions transmises au demandeur :</h4>
                    <textarea name="prescriptions" class="textarea-complement" placeholder="Prescriptions" required>Madame, monsieur,

Le parcours de la manifestation publique {{ doss_manif_sportive.nom_dossier }} que vous organisez {% format_periode_evenement doss_manif_sportive.date_debut_evenement doss_manif_sportive.date_fin_evenement %} ne se situe pas en cœur de parc national de La Réunion. 
À ce titre et conformément aux dispositions du Code de l'environnement, la réglementation relative aux manifestations publiques du Parc national de La Réunion n'est pas applicable à votre évènement et aucune autorisation n'est nécessaire de la part de notre établissement.

Le Parc national de La Réunion</textarea>
                    
                    <div class="zone-pj-complement">
                        <label for="files-non-soumis">Joindre une ou plusieurs annexes :</label>
                        <input type="file" id="files-non-soumis" name="files" multiple accept=".pdf,.doc,.docx,.odt,.jpg,.jpeg,.png,.xls,.xlsx">
                    </div>
                    <p class="hint-text">Taille maximale pour une pièce jointe : <strong>5Mo</strong></p>


                    <div class="zone-confirmer-formulaire">
                        <button type="button" class="btn-confirmer-formulaire" onclick="confirmerNonSoumisDM()">Confirmer</button>
                    </div>

                </form>
            </div>


            <h2>Organisateur.trice</h2>
            <div class="champs"><p><strong>Nom de l'organisateur</strong> : {{ doss_manif_sportive.nom_organisateur|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Prénom de l'organisateur</strong> : {{ doss_manif_sportive.prenom_organisateur|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Qualité du déclarant</strong> : {{ doss_manif_sportive.qualite_declarant|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Structure</strong> : {{ doss_manif_sportive.structure|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Adresse</strong> : {{ doss_manif_sportive.adresse|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Numéro de téléphone</strong> : {{ doss_manif_sportive.numero_telephone|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>E-mail de la structure</strong> : {{ doss_manif_sportive.email_structure|default:"Non renseigné" }}</p></div>
            
            <h2>Tracé de la manifestation</h2>
            <div class="carto-banner"></div>
            <div class="carte-container-trail">
                <div class="carte" data-geojson='{{ doss_manif_sportive.geometrie }}'></div>
                <div class="course-panel"></div>
            </div>

            {% if pjs_demandeur_DM %}
                <h2>Les pièces jointes</h2>
                {% for doc in pjs_demandeur_DM %}
                    <div class="champs">
                        <p>
                            <strong>{{ doc.description }}</strong> : 
                            <a href="{% url 'afficher_annexe' chemin=doc.emplacement titre=doc.titre %}" target="_blank" rel="noopener noreferrer" title="Télécharger le document">
                                {{ doc.titre }}
                            </a>
                        </p>
                    </div>
                {% endfor %}
            {% endif %}

            <h2>Caractéristiques</h2>
            <div class="champs"><p><strong>Nom du dossier</strong> : {{ doss_manif_sportive.nom_dossier|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Numéro du dossier</strong> : {{ doss_manif_sportive.numero_dossier_declaration_manifestations|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>État du dossier</strong> : {{ doss_manif_sportive.etat_dossier|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Date de dépôt</strong> : {{ doss_manif_sportive.date_depot|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Date de début</strong> : {{ doss_manif_sportive.date_debut_evenement|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Date de fin</strong> : {{ doss_manif_sportive.date_fin_evenement|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Emprise sur voie publique</strong> : {{ doss_manif_sportive.emprise_voie_publique|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Évènement est une compétition</strong> : {{ doss_manif_sportive.evenement_competition|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Description</strong> : {{ doss_manif_sportive.description|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Observation</strong> : {{ doss_manif_sportive.observation|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Activité</strong> : {{ doss_manif_sportive.activite|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Affilié fédération délégataire</strong> : {{ doss_manif_sportive.affilie_federation_delegataire|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Nombre de participants</strong> : {{ doss_manif_sportive.nombre_participants|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Nombre max. de spectateurs</strong> : {{ doss_manif_sportive.nombre_max_spectateurs|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Nombre d'organisateurs</strong> : {{ doss_manif_sportive.nombre_organisateurs|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Nombre de véhicules d'accompagnement</strong> : {{ doss_manif_sportive.nombre_vehicules_accompagnement|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Départ groupé des participants</strong> : {{ doss_manif_sportive.depart_groupe_participants|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Circulation groupée des participants</strong> : {{ doss_manif_sportive.circulation_groupee_participants|yesno:"Oui,Non,Non renseigné" }}</p></div>
            
            <h2>Régime de circulation publique</h2>
            <div class="champs"><p><strong>Respect code de la route</strong> : {{ doss_manif_sportive.respect_code_route|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Priorité de passage</strong> : {{ doss_manif_sportive.priorite_passage|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Usage exclusif temporaire de la chaussée</strong> : {{ doss_manif_sportive.usage_exclusif_temporaire_chaussee|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Usage privatif de la chaussée</strong> : {{ doss_manif_sportive.usage_privatif_chaussee|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Précisions voies et horaires</strong> : {{ doss_manif_sportive.precisions_voies_et_horaires|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Véhicule d'ouverture</strong> : {{ doss_manif_sportive.vehicule_ouverture|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Véhicule tête de course</strong> : {{ doss_manif_sportive.vehicule_tete_course|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Véhicule de fin de course</strong> : {{ doss_manif_sportive.vehicule_fin_course|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Autres véhicules d'organisation</strong> : {{ doss_manif_sportive.autres_vehicules_organisation|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Nombre de signaleurs</strong> : {{ doss_manif_sportive.nombre_signaleurs|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Signaleurs en postes fixes</strong> : {{ doss_manif_sportive.signaleurs_postes_fixes|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Signaleurs mobiles en voitures</strong> : {{ doss_manif_sportive.signaleurs_mobiles_voitures|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Signaleurs mobiles en motos</strong> : {{ doss_manif_sportive.signaleurs_mobiles_motos|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Encadrement police municipale</strong> : {{ doss_manif_sportive.encadrement_police_municipale|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Détails encadrement police municipale</strong> : {{ doss_manif_sportive.details_encadrement_police_municipale|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Convention avec police nationale ou gendarmerie</strong> : {{ doss_manif_sportive.convention_police_nationale|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Détails convention</strong> : {{ doss_manif_sportive.details_convention_police_nationale|default:"Non renseigné" }}</p></div>
            
            <h2>Coordinateur sécurité</h2>
            <div class="champs"><p><strong>Nom coordinateur sécurité</strong> : {{ doss_manif_sportive.nom_coordinateur_securite|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Prénom coordinateur sécurité</strong> : {{ doss_manif_sportive.prenom_coordinateur_securite|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Téléphone coordinateur sécurité</strong> : {{ doss_manif_sportive.telephone_coordinateur_securite|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Email coordinateur sécurité</strong> : {{ doss_manif_sportive.email_coordinateur_securite|default:"Non renseigné" }}</p></div>
            
            <h2>Personne à contacter sur place</h2>
            <div class="champs"><p><strong>Nom du contact</strong> : {{ doss_manif_sportive.nom_contact|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Prénom du contact</strong> : {{ doss_manif_sportive.prenom_contact|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Téléphone du contact</strong> : {{ doss_manif_sportive.telephone_contact|default:"Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Autres contacts utiles</strong> : {{ doss_manif_sportive.autres_contacts_utiles|default:"Non renseigné" }}</p></div>
            
            <h2>Zones protégées</h2>
            <div class="champs"><p><strong>Budget > 100 000 €</strong> : {{ doss_manif_sportive.budget_depasse_100k|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Manifestation lucrative +1500 personnes</strong> : {{ doss_manif_sportive.manifestation_lucrative_plus_1500|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Titre national/international</strong> : {{ doss_manif_sportive.manifestation_titre_national_international|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Engagement véhicules hors voies ouvertes</strong> : {{ doss_manif_sportive.manifestation_vehicules_hors_voies_ouvertes|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Charte Natura 2000 signée</strong> : {{ doss_manif_sportive.charte_dispense_natura_2000|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Lieux PDESI</strong> : {{ doss_manif_sportive.lieux_pdesi|default:"Non renseigné" }}</p></div>

            <h2>Balisage</h2>
            <div class="champs"><p><strong>Signataire charte balisage</strong> : {{ doss_manif_sportive.signataire_charte_balisage|yesno:"Oui,Non,Non renseigné" }}</p></div>
            <div class="champs"><p><strong>Description du balisage</strong> : {{ doss_manif_sportive.description_balisage|default:"Non renseigné" }}</p></div>
            

            <h2>Avis du Parc sur Déclaration Manifestations</h2>
            {% if avis_manif_sportive %}
                <div class="champs">

                    {% if avis_manif_sportive.id_avis_manif_sportive %}
                        <p><strong>Numéro de l'avis sur déclaration manifestations :</strong> {{ avis_manif_sportive.id_avis_manif_sportive }}</p>
                    {% endif %}
                    {% if avis_manif_sportive.service %}
                        <p><strong>Service :</strong> {{ avis_manif_sportive.service }}</p>
                    {% endif %}
                    {% if avis_manif_sportive.etat %}
                        <p><strong>État :</strong> {{ avis_manif_sportive.etat }}</p>
                    {% endif %}
                    {% if avis_manif_sportive.date_demande %}
                        <p><strong>Date de demande :</strong> {{ avis_manif_sportive.date_demande|date:"d/m/Y" }}</p>
                    {% endif %}
                    {% if avis_manif_sportive.date_reponse %}
                        <p><strong>Date de réponse :</strong> {{ avis_manif_sportive.date_reponse|date:"d/m/Y" }}</p>
                    {% endif %}
                    {% if avis_manif_sportive.reponse_avis %}
                        <p><strong>Réponse :</strong> {{ avis_manif_sportive.reponse_avis }}</p>
                    {% endif %}
                    {% if avis_manif_sportive.prescriptions %}
                        <p><strong>Prescriptions :</strong> {{ avis_manif_sportive.prescriptions }}</p>
                    {% endif %}
                    {% if avis_manif_sportive.objet_demande %}
                        <p><strong>Objet :</strong> {{ avis_manif_sportive.objet_demande }}</p>
                    {% endif %}
                </div>
            {% else %}
                <p><em>Aucun avis enregistré pour ce dossier.</em></p>
            {% endif %}

        </div>
    </div>

    <!-- 1. Données JSON pour le fond de carte -->
    {{ coeurData|json_script:"fond-data" }}
    {{ adhesionData|json_script:"adhesion-data" }}

    <!-- 2. Variables globales accessibles à ton JS -->
    <script> 
        window._coeurData = JSON.parse(document.getElementById("fond-data").textContent);
        window._adhesionData = JSON.parse(document.getElementById("adhesion-data").textContent);
    </script>

    <!-- On charge les icon (=pois) pour la carto -->
    {{ pois_json|json_script:"pois-data" }}
    <script> window._poisData = JSON.parse(document.getElementById("pois-data").textContent);</script>


    <!-- 3. Script Leaflet personnalisé -->
    <script src="{% static 'instruction/js/formulaire_map_manif_sportives.js' %}?v=2"></script>


    <!-- Menu déroulant pour relier 2 Dossiers (DM - DN) -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleBtn = document.getElementById("toggle-liaison-ds");
            const formBloc = document.getElementById("form-liaison-ds");

            if (!toggleBtn || !formBloc) return;

            // Ouvrir / fermer avec le bouton
            toggleBtn.addEventListener("click", function (e) {
                e.stopPropagation(); // empêche fermeture immédiate
                formBloc.classList.toggle("open");
            });

            // Empêche fermeture quand on clique DANS le menu
            formBloc.addEventListener("click", function (e) {
                e.stopPropagation();
            });

            // Fermer si clic ailleurs
            document.addEventListener("click", function () {
                formBloc.classList.remove("open");
            });
        });
    </script>

    <!-- POP UP de confirmation pour la création d'une liaison -->
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        const formLiaison = document.getElementById("form-liaison-manif-dn");

        if (!formLiaison) return;

        formLiaison.addEventListener("submit", function (e) {
            const confirmation = confirm(
                "Êtes-vous sûr de vouloir lier ces deux dossiers ?\n\nCette action sera irréversible."
            );

            if (!confirmation) {
                e.preventDefault();
            }
        });
    });
</script>



<!------------------------------------------------------------------------------->
<!------------------ Afficher Formulaires Changement Etape  --------------------->
<!------------------------------------------------------------------------------->
 <script>

    function masquerToutesZonesComplementaires() {
        const zones = document.querySelectorAll(".zone-complement");
        zones.forEach(zone => zone.classList.remove("show"));
    }

    function fermerMenuEtape() {
        const menuContent = document.getElementById("etapeMenuContent");
        const menuWrapper = document.querySelector(".etat-badge-menu-dropdown");

        if (menuContent && menuWrapper) {
            menuContent.classList.remove("show");
            menuWrapper.classList.remove("open");
            menuWrapper.style.marginBottom = "";
        }
    }

    function afficherFormulaireAccepterDeclarationManifestations() {
        masquerToutesZonesComplementaires();
        document.getElementById("formulaire-accepter-dm").classList.add("show");
        fermerMenuEtape();
    }

    function afficherFormulaireRefuserDeclarationManifestations() {
        masquerToutesZonesComplementaires();
        document.getElementById("formulaire-refuser-dm").classList.add("show");
        fermerMenuEtape();
    }

    function afficherFormulaireNonSoumisDeclarationManifestations() {
        masquerToutesZonesComplementaires();
        document.getElementById("formulaire-non-soumis-dm").classList.add("show");
        fermerMenuEtape();
    }

 </script>



<!------------------------------------------------------------------------------>
<!--------------------- POP UP Message de confirmation  ------------------------>
<!------------------------------------------------------------------------------>
<script>
    // Confirmer l'acceptation du dossier DM
    function confirmerAccepterDM() {
        const confirmation = confirm("Confirmez-vous l'acceptation du dossier sur Déclaration Manifestations, malgré l'absence d'un dossier Démarche Numérique ?");
        if (confirmation) {
            document.getElementById("form-accepter-dm").submit();
        }
        fermerMenuEtape();
    }


    // Confirmer le refus du dossier DM
    function confirmerRefuserDM() {
        const confirmation = confirm("Confirmez-vous le refus du dossier sur Déclaration Manifestations ? \n\n Pour rappel, aucun dossier Démarche Numérique n'est encore associé.");
        if (confirmation) {
            document.getElementById("form-refuser-dm").submit();
        }
        fermerMenuEtape();
    }


    // Confirmer que le dossier DM ne nous concerne pas
    function confirmerNonSoumisDM() {
        const confirmation = confirm("Confirmez-vous le classement du dossier comme 'Non Concerné' sur Déclaration Manifestations ? \n\n Pour rappel, aucun dossier Démarche Numérique n'est encore associé.");
        if (confirmation) {
            document.getElementById("form-non-soumis-dm").submit();
        }
        fermerMenuEtape();
    }
 </script>


<!-- Check Taille max PJ -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const input = document.getElementById("files-non-soumis");
        const MAX_SIZE = 5 * 1024 * 1024; // 5 Mo

        input.addEventListener("change", function () {
            const files = input.files;

            for (let i = 0; i < files.length; i++) {
                if (files[i].size > MAX_SIZE) {
                    alert(`Le fichier "${files[i].name}" dépasse 5 Mo.`);
                    input.value = ""; // reset
                    return;
                }
            }
        });
    });
</script>




</body>
</html>