{% load static %}
{% load breadcrumb_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page pour formuler une demande d'avis</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'instruction/css/instruction_dossier_ajouter_avis_existant.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/dossier.css' %}">

    <!-- JS Ajout Avis existant -->
    <script src="{% static 'instruction/js/ajouter_avis_existant.js' %}"></script>


</head>
<body>
    {% include 'navbar.html' %}
    {% breadcrumb breadcrumb_items %}

    <div class="avis-page-container">
        <div class="avis">

            <h1>DOSSIER n° {{ dossier.numero }} - {{ dossier.id_demarche.type }}</h1>
            <div class="etat-badge-menu">
                {{ dossier.id_etape_dossier }}
            </div> 

            <div class="form_ajout_demande_avis">
                <div class="header_nouvelle_demande_avis">
                    <h2>Ajouter un avis existant au dossier</h2>
                </div>

                {% if messages %}
                    <div class="django-messages">
                        {% for message in messages %}
                            <div class="message {{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="attribut_avis">
                    <label>Type d'avis* :</label>
                    <select id="type_avis" name="type_avis" required>
                        <option value="" disabled {% if not request.GET %}selected{% endif %}>-- Sélectionner --</option>
                        <option value="avis_sur_application"
                            {% if request.GET or typeAvis == "avis_sur_application" %}selected{% endif %}>
                            Avis existant sur l'application
                        </option>
                        <option value="avis_hors_application"
                            {% if typeAvis == "avis_hors_application" %}selected{% endif %}>
                            Avis hors application
                        </option>
                    </select>

                </div>

                <!-- Avis réalisé en dehors de l'application -->
                <div class="form_avis_hors_appli">
                    <form id="form-avis" method="post" enctype="multipart/form-data" action="{% url 'ajouter_avis_hors_appli' num_dossier=dossier.numero %}">
                        {% csrf_token %}

                        <div class="attribut_avis">
                            <label>Nature de l'avis* :</label>
                            <select id="nature" name="nature" required>
                                <option value="">-- Sélectionner --</option>
                                {% for nature in natures %}
                                    <option value="{{ nature.id }}"> {{ nature.nature }} </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="attribut_avis" id="bloc_demandeur_avis">
                            <label>Instructeur.rice à l'origine de la demande* :</label>
                            <select id="demandeur_avis" name="demandeur_avis">
                                <option value="">-- Sélectionner --</option>
                                {% for i in tous_les_instructeurs %}
                                    <option value="{{ i.id }}">
                                        {% if i.id_agent_autorisations.nom and i.id_agent_autorisations.prenom %}
                                            {{ i.id_agent_autorisations.nom }} {{ i.id_agent_autorisations.prenom }} - {{ i.email }}
                                        {% else %}
                                            {{ i.email }}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="attribut_avis" id="bloc_expert_interne">
                            <label>Expert interne* :</label>
                            <select id="expert_interne" name="expert_interne">
                                <option value="">-- Sélectionner --</option>
                                {% for i in instructeurs %}
                                    <option value="{{ i.id }}">
                                        {% if i.id_agent_autorisations.nom and i.id_agent_autorisations.prenom %}
                                            {{ i.id_agent_autorisations.nom }} {{ i.id_agent_autorisations.prenom }} - {{ i.email }}
                                        {% else %}
                                            {{ i.email }}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="attribut_avis" id="bloc_expert_externe">
                            <label>Expert externe* :</label>
                            <select id="expert_externe" name="expert_externe">
                                <option value="">-- Sélectionner --</option>
                                {% for c in contacts_externes %}
                                    <option value="{{ c.id }}">
                                        {% if c.nom and c.prenom and c.email %}
                                            {{ c.nom }} {{ c.prenom }} - {{ c.email }}
                                        {% elif c.nom and c.prenom %}
                                            {{ c.nom }} {{ c.prenom }}
                                        {% elif c.raison_sociale %}
                                            {{ c.raison_sociale }} - {{ c.email }}
                                        {% elif c.organisation %}
                                            {{ c.organisation }} - {{ c.email }}
                                        {% else %}
                                            {{ c.email }}
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="attribut_avis">
                            <label>Thématique de l'avis* :</label>
                            <select id="thematique" name="thematique" required>
                                <option value="">-- Sélectionner --</option>
                                {% for t in thematiques %}
                                    <option value="{{ t.id }}"> {{ t.thematique }} </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="attribut_avis">
                            <label>Expert.e sollicité.e via* :</label>
                            <select id="mode_contact" name="mode_contact" required>
                                <option value="">-- Sélectionner --</option>
                                <option value="Courrier papier">courrier papier</option>
                                <option value="Téléphone">téléphone</option>
                                <option value="Mail">mail</option>
                                <option value="Autre">autre</option>
                            </select>
                        </div>

                        <div class="attribut_avis">
                            <label>Réponse de l'avis* :</label>
                            <div class="radio-group">
                                <label>
                                    <input type="radio" name="favorable" value="true" checked required>
                                    Favorable
                                </label>
                                <label>
                                    <input type="radio" name="favorable" value="false" required>
                                    Défavorable
                                </label>
                            </div>
                        </div>

                        <div class="attribut_avis">
                            <label for="date_demande_avis">Date de la demande d'avis* :</label>
                            <input type="datetime-local" id="date_demande_avis" name="date_demande_avis" required>
                        </div>

                        <div class="attribut_avis">
                            <label for="date_reponse_avis">Date de la réponse de l'expert.e* :</label>
                            <input type="datetime-local" id="date_reponse_avis" name="date_reponse_avis" required>
                        </div>

                        <div class="attribut_avis texte_libre">
                            <label for="note_demandeur">Note :</label>
                            <textarea id="note_demandeur" name="note_demandeur" rows="2" placeholder="Note libre..."></textarea>
                        </div>

                        <div class="attribut_avis" id="bloc_pj_avis">
                            <label for="pj_avis">Pièce jointe liée à l'avis :</label>
                            <input type="file" id="pj_lie_avis" name="pj_lie_avis" accept=".pdf,.png,.jpg,.jpeg,.doc,.docx" multiple>
                        </div>

                        <div class="confirm-ajout-avis">
                            <!-- Bouton principal -->
                            <button type="submit" class="main-btn">
                                Ajouter l'avis au dossier
                            </button>
                        </div>
                    </form>
                </div>


                <!-- Avis présent dans l'application -->
                <div class="form_avis_dans_appli">
                    <h3>Retrouver l'avis existant</h3>

                    <form method="get">
                        <input type="text" name="numero" placeholder="Numéro avis"
                            value="{{ request.GET.numero }}">
                        
                        <select name="expert" class="select-filtre">
                            <option value="">-- Expert --</option>
                            {% for e in instructeurs %}
                                <option value="{{ e.id }}" {% if request.GET.expert == e.id|stringformat:"s" %}selected{% endif %}>
                                    {{ e }}
                                </option>
                            {% endfor %}
                            {% for c in contacts_externes %}
                                <option value="{{ c.id }}" {% if request.GET.expert == c.id|stringformat:"s" %}selected{% endif %}>
                                    {{ c }}
                                </option>
                            {% endfor %}
                        </select>

                        <select name="demandeur" class="select-filtre">
                            <option value="">-- Demandeur --</option>
                            {% for i in tous_les_instructeurs %}
                                <option value="{{ i.id }}" {% if request.GET.demandeur == i.id|stringformat:"s" %}selected{% endif %}>
                                    {{ i }}
                                </option>
                            {% endfor %}
                        </select>


                        <select name="favorable" class="select-filtre">
                            <option value="">-- Avis favorable ? --</option>
                            <option value="true" {% if request.GET.favorable == "true" %}selected{% endif %}>Oui</option>
                            <option value="false" {% if request.GET.favorable == "false" %}selected{% endif %}>Non</option>
                        </select>

                        <select name="thematique" class="select-filtre">
                            <option value="">-- Thématique --</option>
                            {% for t in thematiques %}
                                <option value="{{ t.id }}" {% if request.GET.thematique == t.id|stringformat:"s" %}selected{% endif %}>
                                    {{ t.thematique }}
                                </option>
                            {% endfor %}
                        </select>

                        <select name="nature" class="select-filtre">
                            <option value="">-- Nature --</option>
                            {% for n in natures %}
                                <option value="{{ n.id }}" {% if request.GET.nature == n.id|stringformat:"s" %}selected{% endif %}>
                                    {{ n.nature }}
                                </option>
                            {% endfor %}
                        </select>

                        <select name="statut" class="select-filtre">
                            <option value="">-- Statut --</option>
                            <option value="Brouillon" {% if request.GET.statut == "Brouillon" %}selected{% endif %}>Brouillon</option>
                            <option value="Envoyé" {% if request.GET.statut == "Envoyé" %}selected{% endif %}>Envoyé</option>
                            <option value="À valider" {% if request.GET.statut == "À valider" %}selected{% endif %}>À valider</option>
                            <option value="À envoyer" {% if request.GET.statut == "À envoyer" %}selected{% endif %}>À envoyer</option>
                        </select>


                        <select name="deja_lie" class="select-filtre">
                            <option value="">-- Déjà lié à un dossier ? --</option>
                            <option value="1" {% if request.GET.deja_lie == "1" %}selected{% endif %}>Oui</option>
                            <option value="0" {% if request.GET.deja_lie == "0" %}selected{% endif %}>Non</option>
                        </select>

                        <div class="ligne_champs_dates">
                            <div class="filtre_date">
                                <label for="date_demande">Date de la demande :</label>
                                <input type="date" id="date_demande" name="date_demande" value="{{ request.GET.date_demande }}">
                            </div>

                            <div class="filtre_date">
                                <label for="date_reponse">Date de la réponse :</label>
                                <input type="date" id="date_reponse" name="date_reponse" value="{{ request.GET.date_reponse }}">
                            </div>
                        </div>

                        <button type="submit">Rechercher</button>
                    </form>


                    {% if avis_list != None %}
                        <div class="resultat">
                            <h4>Résultats :</h4>
                            <ul>
                                {% for a in avis_list %}
                                    <li>

                                            <span>{{ a }}</span>
                                            <form method="post" action="{% url 'lier_dossier_avis' num_dossier=dossier.numero avis_id=a.id %}" 
                                                onsubmit="return confirm('Voulez-vous vraiment lier cet avis au dossier ?');" class="form_lier_avis">
                                                {% csrf_token %}
                                                <button type="submit">Associer au dossier</button>
                                            </form>

                                    </li>
                                {% empty %}
                                    <li>Aucun avis trouvé.</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>




            </div>
        </div>
    

        <!-- Colonne droite : navigation -->
        <div class="nav_preinstruction">
            <div class="nav_top">
            
                <div class="form_messagerie">
                    <a href="{% url 'instruction_dossier' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_formulaire_active %}active{% endif %}">
                            Formulaire
                        </div>
                    </a>
                    <a href="{% url 'instruction_dossier_messagerie' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_messagerie_active %}active{% endif %}">
                            Messagerie
                            {% if nb_messages_non_lus > 0 %}
                                <span class="pastille_nouv_mess" title="Nombre de nouveaux messages">{{ nb_messages_non_lus }}</span>
                            {% endif %}
                        </div>
                    </a>
                    <a href="{% url 'instruction_dossier_consultation' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_consultation_active %}active{% endif %}">
                            Consultation
                            {% if nb_avis_avec_nouveau_mess > 0 %}
                                <span class="pastille_avis_envoye" title="Avis avec nouveaux messages">{{ nb_avis_avec_nouveau_mess }}</span>
                            {% endif %}
                        </div>
                    </a>
                </div>
                
                <!-- Lien dossier à droite -->
                <div class="lien_dossier" title="Copier le chemin d'accès du dossier">
                    <a href="#" onclick="copierChemin('{{ROOT_FOLDER}}{{ dossier.emplacement }}')">
                        <img src="{% static 'instruction/img/folder.png' %}" alt="Voir le dossier">
                    </a>
                </div>
            </div>
        </div>
    </div>



</body>
</html>