{% load static %}
{% load breadcrumb_tags %}
{% load group_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de de formulation et de consultation des avis</title>

    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="{% static 'instruction/img/favicon.ico' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'instruction/css/instruction_dossier_consultation.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/dossier.css' %}">

</head>
<body>
    {% include 'navbar.html' %}
    {% breadcrumb breadcrumb_items %}

    <div class="avis-page-container">
        <div class="avis">

            <h1>DOSSIER n° {{ dossier.numero }} - {{ dossier.id_demarche.type }}</h1>
            <div class="etat-badge-menu">
                {{ dossier.id_etape_dossier }}
            </div> 

            {% if request.user|est_concerné_par_le_dossier:dossier %}
                <div class="btn_avis">
                    {% if dossier.id_etape_dossier.etape != "Non soumis à autorisation" and dossier.id_etape_dossier.etape != "Refusé" and dossier.id_etape_dossier.etape != "Accepté" and dossier.id_etape_dossier.etape != "En relecture qualité" and dossier.id_etape_dossier.etape != "En attente de signature" and dossier.id_etape_dossier.etape != "Acte à envoyer" and dossier.id_etape_dossier.etape != "À publier au RAA" %}
                        <div class="nouvelle_demande_avis">
                            <a href="{% url 'instruction_dossier_ajouter_avis' num_dossier=dossier.numero %}" class="btn-nouvel-avis">
                                + Nouvelle demande d'avis
                            </a>
                        </div>
                    {% endif %}

                    <div class="ajouter_avis_existant">
                        <a href="{% url 'instruction_dossier_ajouter_avis_existant' num_dossier=dossier.numero %}" class="btn-ajouter-avis">
                            + Ajouter un avis existant
                        </a>
                    </div>
                </div>
            {% endif %}

            {% if messages %}
                <div class="django-messages">
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}


            <div class="table_consultations">
                 <table>
                    <thead>
                        <tr>
                            <th>Statut</th>
                            <th>Expert</th>
                            <th>N° Avis</th>
                            <th>Demandeur</th>
                            <th>Date de demande</th>
                            <th>Réponse</th>
                            <th>Date de réponse</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for a in avis %}
                            <tr class="clickable-row {% if a.statut == 'Envoyé' %} ligne_en_gras {% endif %} {% if a.avis_nb_messages_non_lus > 0 %}row-action{% endif %} {% if a.statut == 'À envoyer' or a.statut == 'À valider' %}row-action{% endif %}" 
                            data-href="{% if a.statut == 'Envoyé' %}
                                            {% url 'instruction_dossier_avis' dossier.numero a.numero %}
                                        {% elif request.user|est_concerné_par_le_dossier:dossier %}
                                            {% url 'instruction_dossier_ajouter_avis' dossier.numero a.numero %}
                                        {% endif %}"
                            {% if a.avis_nb_messages_non_lus > 0 %}title="Nouveaux messages de l'expert"{% endif %}>

                                <td class="statut_avis">
                                    <div class="statut_avis_content">
                                        {{ a.statut }}
                                        {% if a.statut == "Envoyé" %}
                                            <img src="{% static 'instruction/img/envoye.png' %}" alt="Demande envoyée" title="Voir la demande envoyée" class="avis_envoye_icon">
                                        {% elif a.statut == "Brouillon" %}
                                            <img src="{% static 'instruction/img/brouillon.png' %}" alt="Brouillon de la demande d'avis" title="Voir le brouillon" class="avis_brouillon_icon">
                                        {% elif a.statut == "À valider" %}
                                            <img src="{% static 'instruction/img/badge-check.png' %}" alt="Demande d'avis à valider" title="Voir le brouillon" class="avis_a_valider_icon">
                                        {% elif a.statut == "À envoyer" %}
                                            <img src="{% static 'instruction/img/a_envoyer.png' %}" alt="Demande d'avis à valider" title="Voir le brouillon" class="avis_a_valider_icon">
                                        {% endif %}
                                    
                                        {% if a.avis_nb_messages_non_lus > 0 %}
                                            <div class="nouv_mess_wrapper_avis">
                                                <img src="{% static 'instruction/img/nouveau_mess.png' %}" 
                                                    alt="Nouveaux messages"
                                                    class="nouv_mess_icon">
                                                <div class="pastille_nouv_mess_avis">{{ a.avis_nb_messages_non_lus }}</div>
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>{{ a.expert }}</td>
                                <td>{{ a.numero }}</td>
                                <td>{{ a.demandeur }}</td>
                                <td>{{ a.date_demande|date:"d/m/Y" }}</td>

                                <td>
                                    <div class="rep_value">
                                        {{ a.favorable }}
                                        {% if a.favorable == "Favorable" %}
                                            <img src="{% static 'instruction/img/timeline/accepte.png' %}" alt="Demande acceptée" class="avis_reponse_icon">
                                        {% elif a.favorable == "Défavorable" %}
                                            <img src="{% static 'instruction/img/timeline/refuse.png' %}" alt="Demande refusée" class="avis_reponse_icon">
                                        {% elif a.favorable == "En attente" %}
                                            <img src="{% static 'instruction/img/loader.svg' %}" alt="Demande en attente" class="avis_reponse_icon">
                                        {% endif %}
                                    </div>
                                </td>

                                
                                <td class="cell-suppr">
                                    {{ a.date_reponse|date:"d/m/Y" }}

                                    {% if request.user|est_concerné_par_le_dossier:dossier %}
                                        <!-- Bouton supprimer directement dans la cellule -->
                                        <form method="post" action="{% url 'supprimer_avis' %}" class="form-supprimer-avis">
                                            {% csrf_token %}
                                            <input type="hidden" name="avis_id" value="{{ a.numero }}">
                                            <button type="submit" class="btn-supprimer-avis" title="Supprimer l'avis" onclick="confirmerSuppressionAvis(this, event)">
                                                <img src="{% static 'instruction/img/supprimer.png' %}" alt="Supprimer l'avis" title="Supprimer l'avis" class="supprimer_avis_icon">
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                
                        {% empty %}
                            <tr><td colspan="7" class="aucun_doss">Aucune demande d'avis faite pour ce dossier.</td></tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>



        </div>
    
        <!-- Colonne droite : navigation -->
        <div class="nav_preinstruction">
            <div class="nav_top">
            
                <div class="form_messagerie">
                    <a href="{% url 'instruction_dossier' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_formulaire_active %}active{% endif %}">
                            Formulaire
                        </div>
                    </a>
                    <a href="{% url 'instruction_dossier_messagerie' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_messagerie_active %}active{% endif %}">
                            Messagerie
                            {% if nb_messages_non_lus > 0 %}
                                <span class="pastille_nouv_mess" title="Nombre de nouveaux messages">{{ nb_messages_non_lus }}</span>
                            {% endif %}
                        </div>
                    </a>
                    <a href="{% url 'instruction_dossier_consultation' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_consultation_active %}active{% endif %}">
                            Consultation
                            {% if nb_avis_avec_nouveau_mess > 0 %}
                                <span class="pastille_avis_envoye" title="Avis avec nouveaux messages">{{ nb_avis_avec_nouveau_mess }}</span>
                            {% endif %}
                        </div>
                    </a>
                </div>
                
                <!-- Lien dossier à droite -->
                <div class="lien_dossier" title="Copier le chemin d'accès du dossier">
                    <a href="#" onclick="copierChemin('{{ROOT_FOLDER}}{{ dossier.emplacement }}')">
                        <img src="{% static 'instruction/img/folder.png' %}" alt="Voir le dossier">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            document.querySelectorAll(".clickable-row").forEach(function(row) {
                row.addEventListener("click", function() {
                    const href = this.getAttribute("data-href");
                    if (href && href !== "#") {
                        window.location.href = href;
                    }
                });
            });
        });

        // Copier l'emplacement du Dossier
        function copierChemin(chemin) {
            navigator.clipboard.writeText(chemin).then(() => {
                alert("Chemin copié dans le presse-papiers :\n" + chemin);
            }).catch(err => {
                console.error("Erreur copie chemin :", err);
                alert("Impossible de copier le chemin");
            });
        }
    </script>

    <script>
        // POP UP de confirmation pour la suppression d’un avis
        function confirmerSuppressionAvis(bouton) {
            const confirmation = confirm("Êtes-vous sûr de vouloir supprimer définitivement cet avis ?");
            if (confirmation) {
                bouton.closest("form").submit();
            }
        }
    </script>


</body>
</html>