{% load static %}
{% load breadcrumb_tags %}
{% load group_tags %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messagerie</title>

    <!-- Icon -->
    <link rel="icon" type="image/x-icon" href="{% static 'instruction/img/favicon.ico' %}">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'instruction/css/instruction_dossier_messagerie.css' %}?v=2">
    <link rel="stylesheet" href="{% static 'instruction/css/messagerie.css' %}?v=3">
    <link rel="stylesheet" href="{% static 'instruction/css/copie_dossier_titre.css' %}?v=3">

    <!-- Copier chemin d'accès du dossier -->
    <script src="{% static 'instruction/js/copie_chemin.js' %}"></script>
    <script src="{% static 'instruction/js/apercu_signature_message.js' %}" defer></script>
</head>
<body>
    {% include 'navbar.html' %}
    {% breadcrumb breadcrumb_items %}

    
    <div class="page-container">
        <!-- Colonne gauche : Messagerie -->
        <div class="messagerie copy-button-container">
            <button type="button" class="btn-copy-dossier copy-button-left-edge" data-path="{{ chemin_complet }}" aria-label="Copier le chemin d'accès du dossier" title="Copier le chemin d'accès du dossier">
                <img class="icon-default" src="{% static 'instruction/img/copy.png' %}" alt="">
                <img class="icon-hover" src="{% static 'instruction/img/copy.png' %}" alt="">
                <span class="copy-feedback" role="status" aria-live="polite">Chemin copié</span>
            </button>
            <h1>DOSSIER n° {{ dossier.numero }} - {{ dossier.id_demarche.type }}</h1>

            {% if not dossier.present_sur_ds %}
                <div class="pas_sur_ds">
                    <p class="info-message">⚠️ Ce dossier n'est plus sur Démarche Numérique</p>
                </div>
            {% endif %}
        
            <div class="dossier-state-with-copy">
                <div class="etat-badge-menu">
                    {{ dossier.id_etape_dossier }}
                </div>
            </div>
            
            {% if dossier.present_sur_ds %}
                <div class="refresh-messages">
                    <form method="post" action="{% url 'actualiser_messages' dossier.numero %}">
                        {% csrf_token %}
                        <button type="submit" class="refresh-button" id="btn-refresh-messages">
                            <img src="{% static 'instruction/img/actualiser.png' %}" alt="Actualiser" class="refresh-icon">
                            Actualiser
                        </button>
                    </form>
                </div>
            {% endif %}
            
            <div class="chat-container">
                {% for msg in messages_doss %}
                    <div class="message message-{{ msg.align }} {% if msg.nouv_mess == 'oui' %}nouv-mess{% endif %}"
                    {% if msg.nouv_mess == 'oui' and not est_instructeur_du_dossier %}
                        title="Vous n'êtes pas instructeur.rice du dossier, le message restera comme 'non lu'"
                    {% endif %}>
                    
                        <div class="msg-body">
                            <p>{{ msg.body|safe|linebreaksbr }}</p>

                            {% if msg.pjs %}
                                <div class="pj-download">
                                    <div class="pj-title">
                                        📎 {{ msg.pjs|length }} pièce{{ msg.pjs|length|pluralize }} jointe{{ msg.pjs|length|pluralize }}
                                    </div>

                                    {% for pj in msg.pjs %}
                                        <a class="pj-card"
                                        href="{% url 'afficher_annexe' chemin=pj.emplacement titre=pj.titre %}"
                                        target="_blank"
                                        rel="noopener noreferrer">

                                            <img src="{% static 'instruction/img/filetypes/' %}{{ pj.titre|file_icon }}"
                                                class="file-icon"
                                                alt="Type fichier">

                                            <span class="pj-card-name">{{ pj.titre }}</span>
                                            <img src="{% static 'instruction/img/download.png' %}"
                                                class="download-icon"
                                                alt="Télécharger"
                                                title="Ouvrir le document">
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <span class="timestamp">
                            <span class="emetteur_message">
                                {% if msg.emetteur %}
                                    {{ msg.emetteur }}
                                {% endif %}
                            </span>
                            <span>{{ msg.date_envoi }}</span>
                            

                            {% if dossier.present_sur_ds and msg.align == 'right' and msg.emetteur.email == request.user.email %}
                                <!-- Formulaire pour supprimer le message -->
                                <form method="post" action="{% url 'supprimer_message' msg.id %}" class="delete-form">
                                    {% csrf_token %}
                                    <button type="submit" class="delete-button" title="Supprimer le message">
                                        <img src="{% static 'instruction/img/trash.svg' %}" alt="Supprimer" class="trash-icon">
                                    </button>
                                </form>
                            {% endif %}
                        </span>

                    </div>
                {% empty %}
                    <p>Aucun message pour ce dossier.</p>
                {% endfor %}
            </div>

            {% if messages %}
                <div class="django-messages">
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}


            {% if dossier.present_sur_ds %}
                {% if est_receptionniste or request.user|est_concerné_par_le_dossier:dossier %}
                    <form class="message-form" method="post" enctype="multipart/form-data" action="{% url 'envoyer_message_dossier' numero=dossier.numero %}">
                        {% csrf_token %}
                        <!-- <input type="hidden" name="id_dossier" value="{{ dossier.id }}"> -->
                        <textarea name="body" placeholder="Écrire un message..." required></textarea>

                        <div class="signature-preview" aria-live="polite">
                            <p>{{ signature_message|linebreaksbr }}</p>
                        </div>

                        <div class="pj-actions">
                            <div class="pj_et_signature">
                                <div class="pj-input-wrapper">
                                    <input type="file" name="piece_jointe" accept=".pdf,.png,.jpg,.jpeg,.doc,.docx">
                                    <span class="pj-max">(20 Mo max)</span>
                                    
                                </div>

                                <!-- Case signature -->
                                <div class="signature-option">
                                    <label class="signature-toggle">
                                        <input class="signature-checkbox" type="checkbox" name="message_signe" value="oui" checked>
                                        <span class="signature-switch" aria-hidden="true"></span>
                                        <span>Je veux que mon message soit signé</span>
                                    </label>
                                </div>
                            </div>
                            
                            <button type="submit" title="Envoyer le message">Envoyer</button>
                        </div>
                    </form>
                {% endif %}
            {% endif %}
        </div>

        <!-- Colonne droite : navigation -->
        <div class="nav_preinstruction">
            <div class="nav_top">
                <!-- Form messagerie à gauche -->
                <div class="form_messagerie">
                    <a href="{% url 'instruction_dossier' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_formulaire_active %}active{% endif %}">
                            Formulaire
                        </div>
                    </a>
                    <a href="{% url 'instruction_dossier_messagerie' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_messagerie_active %}active{% endif %}">
                            Messagerie
                            {% if nb_messages_non_lus > 0 %}
                                <span class="pastille_nouv_mess" title="Nombre de nouveaux messages">{{ nb_messages_non_lus }}</span>
                            {% endif %}
                        </div>
                    </a>
                    <a href="{% url 'instruction_dossier_consultation' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_consultation_active %}active{% endif %}">
                            Consultation
                            {% if nb_avis_avec_nouveau_mess > 0 %}
                                <span class="pastille_avis_envoye" title="Avis avec nouveaux messages">{{ nb_avis_avec_nouveau_mess }}</span>
                            {% endif %}
                        </div>
                    </a>
                </div>
            </div>

            <div class="infos-dossier">
                {% if beneficiaire %}
                    <p><strong>Bénéficiaire :</strong> {{ beneficiaire.prenom }} {{ beneficiaire.nom }}</p>
                {% endif %}
                {% if demandeur %}
                    <p><strong>Demandeur :</strong> {{ demandeur.prenom }} {{ demandeur.nom }}</p>
                {% endif %}
                {% if dossier %}
                    <p><strong>Dossier déposé le :</strong> {{ dossier.date_depot }}</p>
                {% endif %}
               
            </div>
        </div>
    </div>

    <!-- Bouton pendant l'envoi du message -->
    <script>
        window.addEventListener('load', function() {
            const chatContainer = document.querySelector('.chat-container');
            if (chatContainer) {
                chatContainer.scrollTop = chatContainer.scrollHeight;
            }
    
            const messageForm = document.querySelector('.message-form');
            const sendButton = messageForm.querySelector('button[type="submit"]');
    
            messageForm.addEventListener('submit', function() {
                sendButton.disabled = true;
                sendButton.innerText = 'Envoi...';
            });

            // Bouton Suppression
            const deleteForms = document.querySelectorAll('.delete-form');

            deleteForms.forEach(form => {
                const deleteButton = form.querySelector("button[type='submit']");
                
                form.addEventListener("submit", function () {
                    deleteButton.disabled = true;
                    deleteButton.innerText = "Suppression...";
                });
            });

        });
    </script>

    <!-- Bouton pour actualiser la messagerie -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const refreshForm = document.querySelector(".refresh-messages form");
            const refreshButton = document.getElementById("btn-refresh-messages");

            if (refreshForm && refreshButton) {
                refreshForm.addEventListener("submit", function () {
                    refreshButton.disabled = true;
                    refreshButton.innerHTML = `
                        <img src="{% static 'instruction/img/actualiser.png' %}" class="refresh-icon" />
                        Traitement en cours...
                    `;
                });
            }
        });


        // Copier l'emplacement du Dossier
        function copierChemin(chemin) {
            if (navigator.clipboard && window.isSecureContext) {
                navigator.clipboard.writeText(chemin)
                    .then(() => alert("Chemin copié dans le presse-papiers :\n" + chemin))
                    .catch(err => alert("Erreur de copie : " + err));
            } else {
                // Fallback : création d’un input caché
                const input = document.createElement("textarea");
                input.value = chemin;
                document.body.appendChild(input);
                input.select();
                try {
                    document.execCommand("copy");
                    alert("Chemin copié dans le presse-papiers :\n" + chemin);
                } catch (err) {
                    alert("Impossible de copier le chemin : " + err);
                }
                document.body.removeChild(input);
            }
        }
    </script>

</body>
</html>
