{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil de l'application</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'instruction/css/preinstruction.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/instruction_demarche.css' %}">

    <!-- Bouton actualiser -->
    <link rel="stylesheet" href="{% static 'instruction/css/actualiser.css' %}">
    <!-- JS pour l'actualisation -->
    <script src="{% static 'instruction/js/preinstruction_actualiser.js' %}"></script>

</head>

<body>
    {% include 'navbar.html' %}

    <div class="actualiser-wrapper">
        <button
            id="btn-actualiser"
            data-url="{% url 'actualiser_donnees' %}"
            data-csrf="{{ csrf_token }}"
            title="Actualiser les données">
            <img src="{% static 'instruction/img/actualiser.png' %}" alt="Actualiser">
        </button>
        <span id="message-actualisation" class="actualisation-texte"></span>
    </div>

    <h1>{{ demarche.titre }}</h1>
    <h2>Les dossiers en instructions</h2>

    <table>
        <thead>
          <tr>
            <th>Dossier</th>
            <th>Type</th>
            <th>Numéro</th>
            <th>Bénéficiaire</th>
            <th>Reçu le</th>
            <th>Groupe Instructeur</th>
            <th>Étape</th>
          </tr>
        </thead>
        <tbody>
          {% for d in dossiers %}
            <tr class="clickable-row" data-href="{% url 'instruction_dossier' d.numero %}">
                <td>{{ d.nom_dossier }}</td>
                <td>{{ d.type }}</td>
                <td>{{ d.numero }}</td>
                <td>{{ d.beneficiaire }}</td>
                <td>{{ d.date_depot|date:"d/m/Y" }}</td>
                <td>{{ d.groupe }}</td>
                <td>{{d.etape}}</td>
            </tr>
          {% empty %}
            <tr><td colspan="6" class="aucun_doss">Aucun dossier en cours d'instruction.</td></tr>
          {% endfor %}
        </tbody>
      </table>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".clickable-row").forEach(function (row) {
                row.addEventListener("click", function () {
                    const href = this.getAttribute("data-href");
                    if (href) {
                        window.location.href = href;
                    }
                });
            });
        });
    </script>

</body>
</html>