{% load static %}
{% load breadcrumb_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page pour formuler une demande d'avis</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'instruction/css/instruction_dossier_ajouter_avis.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/dossier.css' %}">

</head>
<body>
    {% include 'navbar.html' %}
    {% breadcrumb breadcrumb_items %}

    <div class="avis-page-container">
        <div class="avis">

            <h1>DOSSIER n° {{ dossier.numero }} - {{ dossier.id_demarche.type }}</h1>
            <div class="etat-badge-menu">
                {{ dossier.id_etape_dossier }}
            </div> 

            <div class="form_ajout_demande_avis">
                <h2>Nouvelle demande d'avis</h2>
                
                <form id="form-avis" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="attribut_avis">
                        <label>Nature de l'avis* :</label>
                        <select id="nature" name="nature" required>
                            <option value="">-- Sélectionner --</option>
                            {% for nature in natures %}
                                <option value="{{ nature.id }}"
                                {% if avis and avis.id_avis_nature.id == nature.id %}selected{% endif %}>
                                    {{ nature.nature }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="attribut_avis">
                        <label>Thématique de l'avis* :</label>
                        <select id="thematique" name="thematique" required>
                            <option value="">-- Sélectionner --</option>
                            {% for t in thematiques %}
                                <option value="{{ t.id }}"
                                {% if avis and avis.id_avis_thematique.id == t.id %}selected{% endif %}>
                                    {{ t.thematique }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="attribut_avis texte_libre">
                        <label for="note_demandeur">Note :</label>
                        <textarea id="note_demandeur" name="note_demandeur" rows="2" placeholder="Note libre pour le demandeur...">{{ avis.note|default_if_none:"" }}</textarea>
                    </div>

                    <div class="attribut_avis">
                        <label>Mode de contact* :</label>
                        <select id="mode_contact" name="mode_contact" required>
                            <option value="Application" {% if avis and avis.mode_contact == "Application" %}selected{% endif %}>Via l'application</option>
                            <option value="Courrier papier" {% if avis and avis.mode_contact == "Courrier papier" %}selected{% endif %}>Courrier papier</option>
                            <option value="Téléphone" {% if avis and avis.mode_contact == "Téléphone" %}selected{% endif %}>Téléphone</option>
                            <option value="Mail" {% if avis and avis.mode_contact == "Mail" %}selected{% endif %}>Mail</option>
                        </select>

                    </div>

                    <div class="attribut_avis" id="bloc_pj">
                        <label for="pj_avis">Joindre la demande d'avis* :</label>
                        <input type="file" id="pj_avis" name="pj_avis"
                            accept=".pdf,.doc,.docx,.jpg,.jpeg,.png">
                    </div>

                    
                    <div class="attribut_avis" id="bloc_expert_interne">
                        <label>Choix de l'expert interne* :</label>
                        <select id="expert_interne" name="expert_interne">
                            <option value="">-- Sélectionner --</option>
                            {% for i in instructeurs %}
                                <option value="{{ i.id }}"
                                    {% if avis and avis.id_expert and avis.id_expert.id_instructeur and avis.id_expert.id_instructeur.id == i.id %}selected{% endif %}>
                                    {% if i.id_agent_autorisations.nom and i.id_agent_autorisations.prenom %}
                                        {{ i.id_agent_autorisations.nom }} {{ i.id_agent_autorisations.prenom }} - {{ i.email }}
                                    {% else %}
                                        {{ i.email }}
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>

                    </div>

                    <div class="attribut_avis" id="bloc_expert_externe">
                        <label>Choix de l'expert externe* :</label>
                        <select id="expert_externe" name="expert_externe">
                            <option value="">-- Sélectionner --</option>
                            {% for c in contacts_externes %}
                                <option value="{{ c.id }}"
                                    {% if avis and avis.id_expert and avis.id_expert.id_contact_externe and avis.id_expert.id_contact_externe.id == c.id %}selected{% endif %}>
                                    {% if c.nom and c.prenom and c.email %}
                                        {{ c.nom }} {{ c.prenom }} - {{ c.email }}
                                    {% elif c.nom and c.prenom %}
                                        {{ c.nom }} {{ c.prenom }}
                                    {% elif c.raison_sociale %}
                                        {{ c.raison_sociale }} - {{ c.email }}
                                    {% elif c.organisation %}
                                        {{ c.organisation }} - {{ c.email }}
                                    {% else %}
                                        {{ c.email }}
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>

                    </div>

                    <div class="attribut_avis texte_libre">
                        <label for="formulation_avis">Formulation de l'avis* :</label>
                        <textarea id="formulation_avis" name="formulation_avis" rows="5" placeholder="Bonjour, vous trouverez ci-joint la demande d'avis...">{{ avis.formulation|default_if_none:"" }}</textarea>

                    </div>

                    {% if messages %}
                        <div class="django-messages">
                            {% for message in messages %}
                                <div class="message {{ message.tags }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}



                    <!-- <a href="{% url 'instruction_dossier_confirmer_ajout_avis' num_dossier=dossier.numero %}" class="confirmer-nouvel-avis" title="Confirmer l'envoi de la demande d'avis">
                        Confirmer
                    </a> -->

                    <div class="btn-dropdown">
                        <!-- Bouton principal -->
                        <button type="submit" class="main-btn"
                            formaction="{% if avis %}
                                            {% url 'instruction_dossier_confirmer_ajout_avis' num_dossier=dossier.numero avis_id=avis.id %}
                                        {% else %}
                                            {% url 'instruction_dossier_confirmer_ajout_avis' num_dossier=dossier.numero %}
                                        {% endif %}">
                            Confirmer
                        </button>

                        <!-- Flèche pour ouvrir le menu -->
                        <button type="button" class="toggle-btn">&#9662;</button>

                        <!-- Menu déroulant -->
                        <div class="dropdown-content">
                            <button type="submit"
                                formaction="{% if avis %}
                                                {% url 'instruction_dossier_confirmer_ajout_avis' num_dossier=dossier.numero avis_id=avis.id %}
                                            {% else %}
                                                {% url 'instruction_dossier_confirmer_ajout_avis' num_dossier=dossier.numero %}
                                            {% endif %}">
                                Confirmer l’envoi
                            </button>

                            <!-- <button type="submit"
                                formaction="{% url 'instruction_dossier_enregistrer_brouillon_avis' num_dossier=dossier.numero %}">
                                Enregistrer le brouillon
                            </button> -->
                            <button type="submit"
                                formaction="{% if avis %}
                                                {% url 'instruction_dossier_enregistrer_brouillon_avis' num_dossier=dossier.numero avis_id=avis.id %}
                                            {% else %}
                                                {% url 'instruction_dossier_enregistrer_brouillon_avis' num_dossier=dossier.numero %}
                                            {% endif %}">
                                Enregistrer le brouillon
                            </button>
                        </div>
                    </div>

                </form>

            </div>


        </div>
    
        <!-- Colonne droite : navigation -->
        <div class="nav_preinstruction">
            <div class="nav_top">
            
                <div class="form_messagerie">
                    <a href="{% url 'instruction_dossier' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_formulaire_active %}active{% endif %}">
                            Formulaire
                        </div>
                    </a>
                    <a href="{% url 'instruction_dossier_messagerie' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_messagerie_active %}active{% endif %}">
                            Messagerie
                        </div>
                    </a>
                    <a href="{% url 'instruction_dossier_consultation' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_consultation_active %}active{% endif %}">
                            Consultation
                        </div>
                    </a>
                </div>
                
                <!-- Lien dossier à droite -->
                <div class="lien_dossier">
                    <a href="#" onclick="copierChemin('{{ dossier.emplacement }}')">
                        <img src="{% static 'instruction/img/folder.png' %}" alt="Voir le dossier">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const natureSelect = document.getElementById("nature");
            const blocInterne = document.getElementById("bloc_expert_interne");
            const blocExterne = document.getElementById("bloc_expert_externe");
            const blocPJ = document.getElementById("bloc_pj");
            const expertInterne = document.getElementById("expert_interne");
            const expertExterne = document.getElementById("expert_externe");
            const pjAvis = document.getElementById("pj_avis");

            function toggleExperts() {
                const selectedText = natureSelect.options[natureSelect.selectedIndex]?.text.trim();

                // Cache par défaut
                blocInterne.style.display = "none";
                blocExterne.style.display = "none";
                blocPJ.style.display = "none";

                if (selectedText === "Consultation en interne") {
                    blocInterne.style.display = "flex";
                    blocPJ.style.display = "flex";
                    expertInterne.required = true;
                } else if (selectedText === "Demande à une instance") {
                    blocExterne.style.display = "flex";
                    blocPJ.style.display = "flex";
                    expertExterne.required = true;
                    pjAvis.required = true;
                }
            }

            natureSelect.addEventListener("change", toggleExperts);

            // Exécuter au chargement (utile si le champ est prérempli)
            toggleExperts();
        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // toggle menu sur clic flèche
            document.querySelectorAll(".btn-dropdown .toggle-btn").forEach(function(btn) {
                btn.addEventListener("click", function(e) {
                    console.log(("click"))
                    e.stopPropagation();
                    const parent = btn.closest(".btn-dropdown");

                    // Ferme tous les autres menus ouverts
                    document.querySelectorAll(".btn-dropdown.show").forEach(function(open) {
                        if (open !== parent) {
                            open.classList.remove("show");
                        }
                    });
                    // Toggle du menu cliqué
                    parent.classList.toggle("show");
                });
            });

            // Ferme le menu si clic en dehors
            document.addEventListener("click", function(e) {
                document.querySelectorAll(".btn-dropdown.show").forEach(function(open) {
                    if (!open.contains(e.target)) {
                        open.classList.remove("show");
                    }
                });
            });
            
        });
    </script>

</body>
</html>