{% load static %}
{% load breadcrumb_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page pour formuler une demande d'avis</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'instruction/css/instruction_dossier_ajouter_avis.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/dossier.css' %}">

</head>
<body>
    {% include 'navbar.html' %}
    {% breadcrumb breadcrumb_items %}

    <div class="avis-page-container">
        <div class="avis">

            <h1>DOSSIER n° {{ dossier.numero }} - {{ dossier.id_demarche.type }}</h1>
            <div class="etat-badge-menu">
                {{ dossier.id_etape_dossier }}
            </div> 

            <div class="form_ajout_demande_avis">
                <h2>Nouvelle demande d'avis</h2>

                <div class="attribut_avis">
                    <label>Nature de l'avis :</label>
                    <select id="nature" name="nature" required>
                        <option value="">-- Sélectionner --</option>
                        {% for nature in natures %}
                            <option value="{{ nature.id }}">{{ nature.nature }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="attribut_avis">
                    <label>Thématique de l'avis :</label>
                    <select id="thematique" name="thematique" required>
                        <option value="">-- Sélectionner --</option>
                        {% for t in thematiques %}
                            <option value="{{ t.id }}">{{ t.thematique }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="attribut_avis">
                    <label>Note :</label>
                    ****************
                </div>

                <div class="attribut_avis">
                    <label>Mode de contact :</label>
                    <select id="mode_contact" name="mode_contact" required>
                        <option value="">-- Sélectionner --</option>
                        <option value="Courrier papier">Via l'application</option>
                        <option value="Courrier papier">Courrier papier</option>
                        <option value="Téléphone">Téléphone</option>
                        <option value="Mail">Mail</option>
                    </select>
                </div>
                
                <div class="attribut_avis">
                    <label>Choix de l'expert interne :</label>
                    <select id="expert_interne" name="expert_interne" required>
                        <option value="">-- Sélectionner --</option>
                        {% for i in instructeurs %}
                            <option value="{{ i.id }}">
                                {% if i.id_agent_autorisations.nom and i.id_agent_autorisations.prenom %}
                                    {{ i.id_agent_autorisations.nom }} {{ i.id_agent_autorisations.prenom }} - {{ i.email }}
                                {% else %}
                                    {{ i.email }}
                                {% endif %}
                            </option>

                        {% endfor %}
                    </select>
                </div>

                <div class="attribut_avis">
                    <label>Choix de l'expert externe :</label>
                    <select id="expert_externe" name="expert_interne" required>
                        <option value="">-- Sélectionner --</option>
                        {% for c in contacts_externes %}
                            <option value="{{ c.id }}">
                                {% if c.nom and c.prenom and c.email %}
                                    {{ c.nom }} {{ c.prenom }} - {{ c.email }}
                                {% elif c.nom and c.prenom %}
                                    {{ c.nom }} {{ c.prenom }}
                                {% elif c.raison_sociale %}
                                    {{ c.raison_sociale }} - {{ c.email }}
                                {% elif c.organisation %}
                                    {{ c.organisation }} - {{ c.email }}
                                {% else %}
                                    {{ c.email }}
                                {% endif %}
                            </option>

                        {% endfor %}
                    </select>
                </div>



                <a href="{% url 'instruction_dossier_confirmer_ajout_avis' num_dossier=dossier.numero %}" class="confirmer-nouvel-avis">
                    Confirmer
                </a>
            </div>

            


        </div>
    
        <!-- Colonne droite : navigation -->
        <div class="nav_preinstruction">
            <div class="nav_top">
            
                <div class="form_messagerie">
                    <a href="{% url 'instruction_dossier' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_formulaire_active %}active{% endif %}">
                            Formulaire
                        </div>
                    </a>
                    <a href="{% url 'instruction_dossier_messagerie' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_messagerie_active %}active{% endif %}">
                            Messagerie
                        </div>
                    </a>
                    <a href="{% url 'instruction_dossier_consultation' num_dossier=dossier.numero %}">
                        <div class="form_msg_box {% if is_consultation_active %}active{% endif %}">
                            Consultation
                        </div>
                    </a>
                </div>
                
                <!-- Lien dossier à droite -->
                <div class="lien_dossier">
                    <a href="#" onclick="copierChemin('{{ dossier.emplacement }}')">
                        <img src="{% static 'instruction/img/folder.png' %}" alt="Voir le dossier">
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>