{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil de l'application</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'instruction/css/preinstruction_dossier.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/instruction_dossier.css' %}">


</head>

<body>
    {% include 'navbar.html' %}

    <div class="page-container">
        
        <!-- Colonne gauche : formulaire -->
        <div class="formulaire">

            <h1>DOSSIER n° {{ dossier.numero }} - {{ dossier.id_demarche.type }}</h1>

            <div class="etat-badge-container">
                <div class="etat-badge-menu-dropdown">
                    <div class="etat-badge-label" id="etatMenuToggle">
                        {{ etat_dossier }}
                        <span class="dropdown-arrow">&#9660;</span>
                    </div>
                    <!-- <div class="etat-badge-menu-content" id="etatMenuContent">
                        {% if dossier.id_groupeinstructeur %}
                            <form method="post" action="{% url 'passer_en_instruction' %}">
                                {% csrf_token %}
                                <input type="hidden" name="dossierId" value="{{ dossier.id_ds }}">
                                <button type="submit" class="btn_dropdown_instruction">Passer en instruction</button>
                            </form>
                        {% else %}
                            <div class="instruction-warning">
                                Veuillez d’abord sélectionner un groupe instructeur.
                            </div>
                        {% endif %}
                    </div> -->
                    
                </div>
                

                <!-- Select groupe instructeur -->
                <form method="post" action="{% url 'changer_groupe_instructeur' %}" class="form_groupe_select">
                    {% csrf_token %}
                    <input type="hidden" name="dossierId" value="{{ dossier.id_ds }}">

                    <label for="groupe" class="groupe-label">Groupe instructeur :</label>
                   <select name="groupeInstructeurId" onchange="this.form.submit()">
                        {% if not dossier.id_groupeinstructeur %}
                            <option value="" selected>-- Sélectionner --</option>
                        {% else %}
                            <option value="{{ dossier.id_groupeinstructeur.id }}" selected disabled>
                                {{ dossier.id_groupeinstructeur.nom }}
                            </option>
                        {% endif %}

                        {% for groupe in groupes_instructeurs %}
                            {% if not dossier.id_groupeinstructeur or groupe.id != dossier.id_groupeinstructeur.id %}
                                <option value="{{ groupe.id }}">{{ groupe.nom }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>

            </div>


            <div class="champs">
                {% for champ in champs %}
                    {% if champ.type == 'header' %}
                        <h2>{{ champ.titre }}</h2>

                    {% elif champ.type == 'champ' %}
                        <p><strong>{{ champ.nom }}</strong> : {{ champ.valeur }}</p>

                    {% elif champ.type == 'carte' %}
                        <h2>{{ champ.nom }}</h2>
                        <div class="carte-container">
                            <div class="carte" data-geojson='{{ champ.geojson }}'></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            
        </div>

        <!-- Colonne droite : navigation -->
        <div class="nav_preinstruction">
            <div class="nav_top">
            
                <div class="form_messagerie">
                    <a href="#">
                        <div class="form_msg_box {% if is_formulaire_active %}active{% endif %}">
                            Formulaire
                        </div>
                    </a>
                    <a href="#">
                        <div class="form_msg_box {% if is_messagerie_active %}active{% endif %}">
                            Messagerie
                        </div>
                    </a>
                </div>
                
                
                <!-- Lien dossier à droite -->
                <div class="lien_dossier">
                    <a href="#" onclick="copierChemin('{{ dossier.emplacement }}')">
                        <img src="{% static 'instruction/img/folder.png' %}" alt="Voir le dossier">
                    </a>
                </div>
            </div>

        </div>
    </div>


</body>
</html>