{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil de l'application</title>
    <link rel="stylesheet" href="{% static 'instruction/css/instruction.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <!-- <h1> Bienvenu sur la page d'accueil ! </h1> -->

    <h1>Dossiers en cours d'instruction</h1>

    <table>
        <thead>
            <tr>
                <th>DOSSIERS</th>
                <th>En pré-instruction</th>
                <th>Suivis</th>
                <th>Traités cette année</th>
            </tr>
        </thead>
        <tbody>
            {% for d in dossier_infos %}
                <tr>
                    <td>{{ d.demarche }}</td>
                    <td>{{ d.nb_pre_instruction }}</td>
                    <td>{{ d.nb_suivis }}</td>
                    <td>{{ d.nb_traites }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Aucun dossier pour le moment.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>