{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil de l'application</title>
    <link rel="stylesheet" href="{% static 'instruction/css/instruction.css' %}">

    <!-- Bouton actualiser -->
    <link rel="stylesheet" href="{% static 'instruction/css/actualiser.css' %}">
    <!-- JS pour l'actualisation -->
    <script src="{% static 'instruction/js/preinstruction_actualiser.js' %}"></script>

</head>

<body>
    {% include 'navbar.html' %}

    <div class="actualiser-wrapper">
        <button
            id="btn-actualiser"
            data-url="{% url 'actualiser_donnees' %}"
            data-csrf="{{ csrf_token }}"
            title="Actualiser les données">
            <img src="{% static 'instruction/img/actualiser.png' %}" alt="Actualiser">
        </button>
        <span id="message-actualisation" class="actualisation-texte"></span>
    </div>
    

    <h1>Dossiers en cours d'instruction</h1>

    <table>
        <thead>
            <tr>
                <th>DOSSIERS</th>
                <th>Réception</th>
                <th>Instruction</th>
                <th>Traités cette année</th>
            </tr>
        </thead>
        <tbody>
            {% for d in dossier_infos %}
                <tr class="clickable-row" data-href="{% url 'instruction_demarche' d.demarche.numero %}">
                    <td>
                        {{ d.demarche.type }}
                        {% if d.nb_suivis_user > 0 %}
                            <span class="pastille-user">{{ d.nb_suivis_user }}</span>
                        {% endif %}
                    </td>

                    <td>{{ d.nb_reception }}</td>
                    <td class="suivis_instruction">{{ d.nb_suivis }}</td>
                    <td>{{ d.nb_traites }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">Aucun dossier pour le moment.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".clickable-row").forEach(function (row) {
                row.addEventListener("click", function () {
                    const href = this.getAttribute("data-href");
                    if (href) {
                        window.location.href = href;
                    }
                });
            });
        });
    </script>

</body>
</html>