{% load static %}
{% load breadcrumb_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messagerie</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'instruction/css/preinstruction_dossier_messagerie.css' %}">
    <link rel="stylesheet" href="{% static 'instruction/css/messagerie.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    {% breadcrumb breadcrumb_items %}
    
    <div class="page-container">

        <!-- Colonne gauche : Messagerie -->
        <div class="messagerie">
            <h1>DOSSIER n° {{ dossier.numero }} - {{ dossier.id_demarche.type }}</h1>

            {% if not dossier.present_sur_ds %}
                <div class="pas_sur_ds">
                    <p class="info-message">⚠️ Ce dossier n'est plus sur Démarches Simplifiées</p>
                </div>
            {% endif %}

            <div class="etat-badge-menu">
                {{ dossier.id_etape_dossier }}
            </div> 

            {% if dossier.present_sur_ds %}
                <div class="refresh-messages">
                    <form method="post" action="{% url 'actualiser_messages' dossier.numero %}">
                        {% csrf_token %}
                        <button type="submit" class="refresh-button" id="btn-refresh-messages">
                            <img src="{% static 'instruction/img/actualiser.png' %}" alt="Actualiser" class="refresh-icon">
                            Actualiser
                        </button>
                    </form>
                </div>
            {% endif %}
            
            <div class="chat-container">
                {% for msg in messages_doss %}
                    <div class="message message-{{ msg.align }} {% if msg.nouv_mess == 'oui' %}nouv-mess{% endif %}"
                    {% if msg.nouv_mess == 'oui' and not est_instructeur_du_dossier and not est_receptionniste %}
                        title="Vous n'êtes pas (pré)instructeur.rice du dossier, le message restera comme 'non lu'"
                    {% endif %}>
                    
                        <div class="msg-body">
                            <p>{{ msg.body|safe|linebreaksbr }}</p>
                            {% if msg.pj_url %}
                                <div class="pj-download">
                                    <!-- <a href="{{ msg.pj_url }}" target="_blank" download>{{ msg.pj_title }}</a> -->
                                    <a href="{% url 'afficher_annexe' chemin=msg.pj_emplacement titre=msg.pj_title %}" target="_blank" rel="noopener noreferrer">{{ msg.pj_title }}</a>
                                
                                </div>
                            {% endif %}
                        </div>
                        <span class="timestamp">
                            <span class="emetteur_message">
                                {% if msg.emetteur %}
                                    {{ msg.emetteur }}
                                {% endif %}
                            </span>
                            <span>{{ msg.date_envoi }}</span>

                            {% if dossier.present_sur_ds and msg.align == 'right' and msg.emetteur.email == request.user.email %}
                                <!-- Formulaire pour supprimer le message -->
                                <form method="post" action="{% url 'supprimer_message' msg.id %}" class="delete-form" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit" class="delete-button" title="Supprimer le message">
                                        <img src="{% static 'instruction/img/trash.svg' %}" alt="Supprimer" class="trash-icon">
                                    </button>
                                </form>
                            {% endif %}
                        </span>

                    </div>
                {% empty %}
                    <p>Aucun message pour ce dossier.</p>
                {% endfor %}
            </div>

            {% if messages %}
                <div class="django-messages">
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            
            {% if dossier.present_sur_ds %}
                <form class="message-form" method="post" enctype="multipart/form-data" action="{% url 'envoyer_message_dossier' numero=dossier.numero %}">
                    {% csrf_token %}
                    <!-- <input type="hidden" name="id_dossier" value="{{ dossier.id }}"> -->
                    <textarea name="body" placeholder="Écrire un message..." required></textarea>
                    <div class="pj-actions">
                        <div class="pj-input-wrapper">
                            <input type="file" name="piece_jointe" accept=".pdf,.png,.jpg,.jpeg,.doc,.docx">
                            <span class="pj-max">(20 Mo max)</span>
                        </div>
                        <button type="submit" title="Envoyer le message">Envoyer</button>
                    </div>
                </form>
            {% endif %}
        </div>

        <!-- Colonne droite : navigation -->
        <div class="nav_preinstruction">
            <div class="nav_top">
                <!-- Form messagerie à gauche -->
                <div class="form_messagerie">
                    <a href="{% url 'preinstruction_dossier' numero=dossier.numero %}">
                        <div class="form_msg_box {% if is_formulaire_active %}active{% endif %}">
                            Formulaire
                        </div>
                    </a>
                    <a href="{% url 'preinstruction_dossier_messagerie' numero=dossier.numero %}">
                        <div class="form_msg_box {% if is_messagerie_active %}active{% endif %}">
                            Messagerie
                            {% if nb_messages_non_lus > 0 %}
                                <span class="pastille_nouv_mess" title="Nombre de nouveaux messages">{{ nb_messages_non_lus }}</span>
                            {% endif %}
                        </div>
                    </a>
                </div>
                
                <!-- Lien dossier à droite -->
                <div class="lien_dossier" title="Copier le chemin d'accès du dossier">
                    <a href="#" onclick="copierChemin('{{ROOT_FOLDER}}{{ dossier.emplacement }}')">
                        <img src="{% static 'instruction/img/folder.png' %}" alt="Voir le dossier">
                    </a>
                </div>
            </div>

            <div class="infos-dossier">
                {% if beneficiaire %}
                    <p><strong>Bénéficiaire :</strong> {{ beneficiaire.prenom }} {{ beneficiaire.nom }}</p>
                {% endif %}
                {% if demandeur %}
                    <p><strong>Demandeur :</strong> {{ demandeur.prenom }} {{ demandeur.nom }}</p>
                {% endif %}
                {% if dossier %}
                    <p><strong>Dossier déposé le :</strong> {{ dossier.date_depot }}</p>
                {% endif %}
               
            </div>
        </div>
    </div>

    <!-- Bouton pendant l'envoi du message -->
    <script>
        window.addEventListener('load', function() {
            const chatContainer = document.querySelector('.chat-container');
            if (chatContainer) {
                chatContainer.scrollTop = chatContainer.scrollHeight;
            }
    
            const messageForm = document.querySelector('.message-form');
            const sendButton = messageForm.querySelector('button[type="submit"]');
    
            messageForm.addEventListener('submit', function() {
                sendButton.disabled = true;
                sendButton.innerText = 'Envoi...';
            });
        });
    </script>
    
    <!-- Bouton pour actualiser la messagerie -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const refreshForm = document.querySelector(".refresh-messages form");
            const refreshButton = document.getElementById("btn-refresh-messages");

            if (refreshForm && refreshButton) {
                refreshForm.addEventListener("submit", function () {
                    refreshButton.disabled = true;
                    refreshButton.innerHTML = `
                        <img src="{% static 'instruction/img/actualiser.png' %}" class="refresh-icon" />
                        Traitement en cours...
                    `;
                });
            }
        });
    </script>

    <script>
        // Copier l'emplacement du Dossier
        function copierChemin(chemin) {
            navigator.clipboard.writeText(chemin).then(() => {
                alert("Chemin copié dans le presse-papiers :\n" + chemin);
            }).catch(err => {
                console.error("Erreur copie chemin :", err);
                alert("Impossible de copier le chemin");
            });
        }
    </script>

</body>
</html>