{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de pré-instruction</title>
    <link rel="stylesheet" href="{% static 'instruction/css/preinstruction_dossier.css' %}">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Turf.js -->
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>


</head>


<body>
    {% include 'navbar.html' %}
    
    <div class="page-container">
        
        <!-- Colonne gauche : formulaire -->
        <div class="formulaire">

            <h1>DOSSIER n° {{ dossier.numero }} - {{ dossier.id_demarche.type }}</h1>
               
            <!-- <div class="etat-badge-menu">
                {{ etat_dossier }}
            </div>  -->


            <div class="etat-badge-container">
                <div class="etat-badge-menu-dropdown">
                    <div class="etat-badge-label" id="etatMenuToggle">
                        {{ etat_dossier }}
                        <span class="dropdown-arrow">&#9660;</span>
                    </div>
                    <div class="etat-badge-menu-content" id="etatMenuContent">
                        {% if dossier.id_groupeinstructeur %}
                            <form method="post" action="{% url 'passer_en_instruction' %}">
                                {% csrf_token %}
                                <input type="hidden" name="dossierId" value="{{ dossier.id_ds }}">
                                <button type="submit" class="btn_dropdown_instruction">Passer en instruction</button>
                            </form>
                        {% else %}
                            <div class="instruction-warning">
                                Veuillez d’abord sélectionner un groupe instructeur.
                            </div>
                        {% endif %}
                    </div>
                    
                </div>
                

                <!-- Select groupe instructeur -->
                <form method="post" action="{% url 'changer_groupe_instructeur' %}" class="form_groupe_select">
                    {% csrf_token %}
                    <input type="hidden" name="dossierId" value="{{ dossier.id_ds }}">

                    <label for="groupe" class="groupe-label">Groupe instructeur :</label>
                   <select name="groupeInstructeurId" onchange="this.form.submit()">
                        {% if not dossier.id_groupeinstructeur %}
                            <option value="" selected>-- Sélectionner --</option>
                        {% else %}
                            <option value="{{ dossier.id_groupeinstructeur.id }}" selected disabled>
                                {{ dossier.id_groupeinstructeur.nom }}
                            </option>
                        {% endif %}

                        {% for groupe in groupes_instructeurs %}
                            {% if not dossier.id_groupeinstructeur or groupe.id != dossier.id_groupeinstructeur.id %}
                                <option value="{{ groupe.id }}">{{ groupe.nom }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </form>

            </div>


            <div class="champs">
                {% for champ in champs %}
                    {% if champ.type == 'header' %}
                        <h2>{{ champ.titre }}</h2>

                    {% elif champ.type == 'champ' %}
                        <p><strong>{{ champ.nom }}</strong> : {{ champ.valeur }}</p>

                    {% elif champ.type == 'carte' %}
                        <h2>{{ champ.nom }}</h2>
                        <div class="carte-container">
                            <div class="carte" data-geojson='{{ champ.geojson }}'></div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            
        </div>

        <!-- Colonne droite : navigation -->
        <div class="nav_preinstruction">
            <div class="nav_top">
                <!-- Form messagerie à gauche -->
                <div class="form_messagerie">
                    <a href="{% url 'preinstruction_dossier' numero=dossier.numero %}">
                        <div class="form_msg_box {% if is_formulaire_active %}active{% endif %}">
                            Formulaire
                        </div>
                    </a>
                    <a href="{% url 'preinstruction_dossier_messagerie' numero=dossier.numero %}">
                        <div class="form_msg_box {% if is_messagerie_active %}active{% endif %}">
                            Messagerie
                        </div>
                    </a>
                </div>
                
                
                <!-- Lien dossier à droite -->
                <div class="lien_dossier">
                    <a href="#" onclick="copierChemin('{{ dossier.emplacement }}')">
                        <img src="{% static 'instruction/img/folder.png' %}" alt="Voir le dossier">
                    </a>
                </div>
            </div>

            <div class="etat-actions">

                <div class="actions-liste">
                    <!-- <button class="action-btn" data-action="en_instruction">Passer en instruction</button> -->
                    <button class="action-btn" data-action="historise">Historiser</button>
                </div>

                <div id="etat-result" class="etat-result">

                    <!-- <div id="form-en_instruction" class="etat-message" style="display: none;">

                        <form method="post" action="{% url 'changer_groupe_instructeur' %}">
                            {% csrf_token %}
                            
                            <input type="hidden" name="dossierId" value="{{ dossier.id_ds }}">
                        
                            <label for="groupe">Groupe instructeur :</label><br>
                            <select id="groupe" name="groupeInstructeurId" required>
                                <option value="">-- Sélectionner --</option>
                                {% for groupe in groupes_instructeurs %}
                                    <option value="{{ groupe.id }}">{{ groupe.nom }}</option>
                                {% endfor %}
                            </select><br>
                        
                            <button type="submit" class="valider-btn">Valider</button>
                        </form>

                        <form method="post" action="{% url 'passer_en_instruction' %}">
                            {% csrf_token %}
                            <input type="hidden" name="dossierId" value="{{ dossier.id_ds }}">
                            <button type="submit" class="btn_passer_en_instruction">Passer en instruction</button>
                        </form>                       
                    </div> -->
                
                    <div id="form-historise" class="etat-message" style="display: none;">

                        <form>
                            <label for="motif">Choix :</label><br>

                            <select id="motif" name="motif" required>
                                <option value="">-- Sélectionner --</option>
                                <option value="non_autorisation">Non soumis à autorisation</option>
                                <option value="sans_suite">Classer sans suite</option>
                            </select><br>

                            <label for="raison">Raison :</label><br>

                            <textarea id="raison" name="raison" maxlength="600"></textarea><br>

                            <button type="button" class="valider-btn">Valider</button>
                        </form>

                    </div>
                </div>
                
            </div>

        </div>
    </div>

</body>


<!-- 1. Données JSON pour le fond de carte -->
{{ fond_de_carte_data|json_script:"fond-data" }}

<!-- 2. Variables globales accessibles à ton JS -->
<script>
    window._fondDeCarteData = JSON.parse(document.getElementById("fond-data").textContent);
</script>

<!-- 3. Script Leaflet personnalisé -->
<script src="{% static 'instruction/js/preinstruction_map.js' %}"></script>


<!-- Menu déroulant pour l'historisation et le passage en instruction -->

<script>

    function afficherFormulaireAction(action) {
        // Cacher tous les formulaires
        document.querySelectorAll('.etat-message').forEach(div => div.style.display = 'none');

        // Afficher le bon formulaire
        const cible = document.getElementById(`form-${action}`);
        if (cible) {
            cible.style.display = 'block';
        }
    }

    // Boutons
    document.querySelectorAll(".action-btn").forEach(btn => {
        btn.addEventListener("click", function () {
            const action = this.dataset.action;
            afficherFormulaireAction(action);

            // Toggle active sur les boutons
            document.querySelectorAll(".action-btn").forEach(b => b.classList.remove("active"));
            this.classList.add("active");
        });
        
    });

    // Au chargement
    if (currentAction) {
        afficherFormulaireAction(currentAction);
        const btnActif = document.querySelector(`.action-btn[data-action="${currentAction}"]`);
        if (btnActif) {
            btnActif.classList.add("active");
        }
    }


</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleBtn = document.getElementById("etatMenuToggle");
        const menuContent = document.getElementById("etatMenuContent");
        const dropdownWrapper = toggleBtn.closest(".etat-badge-menu-dropdown");
    
        toggleBtn.addEventListener("click", function (e) {
            e.stopPropagation();
            menuContent.classList.toggle("show");
            dropdownWrapper.classList.toggle("open");
        });
    
        document.addEventListener("click", function () {
            menuContent.classList.remove("show");
            dropdownWrapper.classList.remove("open");
        });
    });
    </script>
    
    


</html>