{% load static %}
{% load breadcrumb_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de pré-instruction</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'instruction/css/preinstruction_dossier.css' %}">

    <!-- Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

    <!-- Turf.js -->
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>

</head>


<body>
    {% include 'navbar.html' %}
    
    {% breadcrumb breadcrumb_items %}

    <div class="refresh-doss">
        <form method="post" action="{% url 'actualiser_dossier' dossier.numero %}">
            {% csrf_token %}
            <button type="submit" class="refresh-button">
                <img src="{% static 'instruction/img/actualiser.png' %}" alt="Actualiser" class="refresh-icon">
                Actualiser
            </button>
        </form>
    </div>

    <div class="page-container">
        
        <!-- Colonne gauche : formulaire -->
        <div class="formulaire">

            <h1>DOSSIER n° {{ dossier.numero }} - {{ dossier.id_demarche.type }}</h1>

            <div class="etat-badge-container">
                <div class="etat-badge-menu-dropdown">
                    <div class="etat-badge-label" id="etatMenuToggle">
                        {{ etape_dossier }}
                        <span class="dropdown-arrow">&#9660;</span>
                    </div>
                    <div class="etat-badge-menu-content" id="etatMenuContent">
                        {% if dossier.id_groupeinstructeur %}
                            <form method="post" action="{% url 'passer_en_pre_instruction_url' %}">
                                {% csrf_token %}
                                <input type="hidden" name="dossierId" value="{{ dossier.id_ds }}">
                                <button type="submit" class="btn_dropdown_instruction">Passer en pré-instruction</button>
                            </form>
                        {% else %}
                            <div class="instruction-warning">
                                Veuillez d’abord sélectionner un groupe instructeur.
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>


            <div class="champs">
                {% for champ in champs %}
                    {% if champ.type == 'header' %}
                        <h2>{{ champ.titre }}</h2>

                        <!-- Nom et prénom du bénéficiare -->
                        {% if champ.titre == 'Identification du bénéficiaire de la demande' %}
                            {% if beneficiaire %}
                                {% if beneficiaire.nom %}
                                    <p><strong>Nom</strong> : {{ beneficiaire.nom|upper }}</p>
                                {% endif %}
                                {% if beneficiaire.prenom %}
                                    <p><strong>Prénom</strong> : {{ beneficiaire.prenom|capfirst }}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        <!-- Nom et prénom du demandeur intermédiaire -->
                        {% if champ.titre == 'Identification du demandeur intermédiaire' %}
                            {% if demandeur_intermediaire %}
                                {% if demandeur_intermediaire.nom %}
                                    <p><strong>Nom</strong> : {{ demandeur_intermediaire.nom|upper }}</p>
                                {% endif %}
                                {% if demandeur_intermediaire.prenom %}
                                    <p><strong>Prénom</strong> : {{ demandeur_intermediaire.prenom|capfirst }}</p>
                                {% endif %}
                            {% endif %}
                        {% endif %}


                    {% elif champ.type == 'champ' %}
                        <p><strong>{{ champ.nom }}</strong> : {{ champ.valeur }}</p>

                    {% elif champ.type == 'carte' %}
                        <div class="titre-carte-avec-bouton">
                            <h2>{{ champ.nom }}</h2>
                            <a href="{% url 'edit_carto' numero_dossier=dossier.numero id_champ=champ.id%}" class="btn-edit-carto">✎ Modifier la géométrie</a>

                        </div>
                        
                        <div class="carte-container">
                            <div class="carte" data-geojson='{{ champ.geojson }}'></div>
                        </div>
                  
                    {% elif champ.type == 'piece_justificative' %}
                        <p><strong>{{ champ.nom }}</strong> : <a href="{{champ.url}}" target="_blank" rel="noopener noreferrer">{{ champ.titre_doc }}</a></p>
                    {% endif %}

                {% endfor %}
            </div>
            
        </div>

        <!-- Colonne droite : navigation -->
        <div class="nav_preinstruction">
            <div class="nav_top">

                <!-- Form messagerie à gauche -->
                <div class="form_messagerie">
                    <a href="{% url 'preinstruction_dossier' numero=dossier.numero %}">
                        <div class="form_msg_box {% if is_formulaire_active %}active{% endif %}">
                            Formulaire
                        </div>
                    </a>
                    <a href="{% url 'preinstruction_dossier_messagerie' numero=dossier.numero %}">
                        <div class="form_msg_box {% if is_messagerie_active %}active{% endif %}">
                            Messagerie
                        </div>
                    </a>
                </div>

                <!-- Lien dossier à droite -->
                <div class="lien_dossier">
                    <a href="#" onclick="copierChemin('{{ROOT_FOLDER}}{{ dossier.emplacement }}')">
                        <img src="{% static 'instruction/img/folder.png' %}" alt="Voir le dossier">
                    </a>
                </div>

            </div>
            
            {% if dossier.id_groupeinstructeur %}
                <div class="groupe-instructeur-info">
                    <h3>Groupe Instructeur : {{ dossier.id_groupeinstructeur.nom }}</h3>
                    <ul class="groupe-instructeur-liste">
                        {% for instructeur in membres_groupe %}
                            {% if instructeur.id in instructeurs_dossier_ids %}
                                
                                <li class="instructeur_du_dossier">
                                    {{ instructeur.id_agent_autorisations.nom|upper }} {{ instructeur.id_agent_autorisations.prenom|capfirst }}
                                    <img src="{% static 'instruction/img/instructeur.png' %}" alt="Instructeur du dossier" class="logo_instructeur">
                                    
                                    <form method="post" action="{% url 'retirer_instructeur' %}" class="form-retirer-instructeur">
                                        {% csrf_token %}
                                        <input type="hidden" name="dossier_id" value="{{ dossier.id }}">
                                        <input type="hidden" name="instructeur_id" value="{{ instructeur.id }}">
                                        <button type="submit" class="btn-retirer-instructeur" title="Retirer l'instructeur.trice du dossier">
                                            <span class="croix-retirer">✕</span>
                                        </button>
                                    </form>
                                </li>

                            {% else %}

                                <li class="pas_instructeur_du_dossier">
                                    {{ instructeur.id_agent_autorisations.nom|upper }} {{ instructeur.id_agent_autorisations.prenom|capfirst }}

                                    <form method="post" action="{% url 'se_declarer_instructeur' %}" class="form-ajout-instructeur">
                                        {% csrf_token %}
                                        <input type="hidden" name="dossier_id" value="{{ dossier.id }}">
                                        <input type="hidden" name="instructeur_id" value="{{ instructeur.id }}">
                                        <button type="submit" class="btn-ajout-instructeur" title="Ajouter comme instructeur.trice sur le dossier">
                                            <img src="{% static 'instruction/img/instructeur.png' %}" alt="Ajouter instructeur" title="Ajouter comme instructeur.trice sur le dossier">
                                        </button>
                                    </form>
                                </li>

                            {% endif %}
                        {% endfor %}
                    </ul>

                    <form method="post" action="{% url 'changer_groupe_instructeur' %}" class="form_groupe_select" id="form-changer-groupe">
                        {% csrf_token %}
                        <input type="hidden" name="dossierId" value="{{ dossier.id_ds }}">
                        <select name="groupeInstructeurId" id="select-changer-groupe">
                            <option value="" selected disabled hidden>Changer le groupe instructeur</option>
                            {% for groupe in groupes_instructeurs %}
                                {% if not dossier.id_groupeinstructeur or groupe.id != dossier.id_groupeinstructeur.id %}
                                    <option value="{{ groupe.id }}">{{ groupe.nom }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                </div>
            {% endif %}

            <div class="groupe-instructeur-info notes_instructeurs">
                <h3 class="notes-titre">
                    <span>Notes :</span>

                    <form action="{% url 'ajouter_annexe_dossier' dossier_id=dossier.id %}" method="post" enctype="multipart/form-data" class="form-ajout-annexe">
                        {% csrf_token %}
                        <label for="file-upload" class="annexe-label" title="Ajouter une annexe">
                            <img src="{% static 'instruction/img/trombone.png' %}" alt="Ajouter une annexe" class="annexe-icon">
                        </label>
                        <input type="file" id="file-upload" name="annexe"
                                accept=".xlsx,.txt,.svg,.gif,.xml,.json,.kml,.shp,.gpx,.csv,.docx,.doc,.png,.jpeg,.jpg,.pdf"
                                class="annexe-input" onchange="this.form.submit()">
                    </form>
                </h3>

                {% if annexes_instructeur %}
                    <ul class="liste-annexes-instructeur">
                        {% for annexe in annexes_instructeur %}
                            <li class="annexe-item">
                                   <span class="annexe-texte">📎 {{ annexe.titre }}</span>
                                <button type="button" class="btn-copier-chemin" onclick="copierPath(this, '{{ ROOT_FOLDER }}{{ annexe.emplacement }}')" 
                                                                                title="Copier le chemin">📋</button>
                                <span class="copie-feedback">Copié !</span>
                            </li>


                        {% endfor %}
                    </ul>
                {% endif %}


                <form method="post" action="{% url 'sauvegarder_note_dossier' %}" class="form_groupe_select">
                    {% csrf_token %}
                    <input type="hidden" name="dossierId" value="{{ dossier.id_ds }}">
                    <textarea name="note" rows="6" style="resize: vertical;">{{ dossier.note }}</textarea>
                    <button type="submit" class="valider-btn" style="margin-top: 1rem;">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>

</body>


 
<!-- 1. Données JSON pour le fond de carte -->
{{ coeurData|json_script:"fond-data" }}
{{ adhesionData|json_script:"adhesion-data" }}

<!-- 2. Variables globales accessibles à ton JS -->
<script> 
    window._coeurData = JSON.parse(document.getElementById("fond-data").textContent);
    window._adhesionData = JSON.parse(document.getElementById("adhesion-data").textContent);
</script>


<!-- Mise en forme des geojson (géométries du pétitionnaire ou modifiée par instructeur) -->
<script>
   document.querySelectorAll(".carte").forEach((carte, index) => {
        const script = document.getElementById(`geojson-${index + 1}`);

        if (!script) {
            console.warn("Pas de GeoJSON pour :", carte);
            return;
        }

        try {
            carte.dataset.geojson = script.textContent;
        } catch (e) {
            console.error("Erreur de parsing GeoJSON pour la carte", carte.id, ":", e);
        }
    });

</script>

<!-- 3. Script Leaflet personnalisé -->
<script src="{% static 'instruction/js/preinstruction_map.js' %}"></script>


<!-- Menu déroulant pour l'historisation et le passage en instruction -->

<script>

    function afficherFormulaireAction(action) {
        // Cacher tous les formulaires
        document.querySelectorAll('.etat-message').forEach(div => div.style.display = 'none');

        // Afficher le bon formulaire
        const cible = document.getElementById(`form-${action}`);
        if (cible) {
            cible.style.display = 'block';
        }
    }

    // Boutons
    document.querySelectorAll(".action-btn").forEach(btn => {
        btn.addEventListener("click", function () {
            const action = this.dataset.action;
            afficherFormulaireAction(action);

            // Toggle active sur les boutons
            document.querySelectorAll(".action-btn").forEach(b => b.classList.remove("active"));
            this.classList.add("active");
        });
        
    });

    // Au chargement
    if (currentAction) {
        afficherFormulaireAction(currentAction);
        const btnActif = document.querySelector(`.action-btn[data-action="${currentAction}"]`);
        if (btnActif) {
            btnActif.classList.add("active");
        }
    }


</script>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleBtn = document.getElementById("etatMenuToggle");
        const menuContent = document.getElementById("etatMenuContent");
        const dropdownWrapper = toggleBtn.closest(".etat-badge-menu-dropdown");
    
        toggleBtn.addEventListener("click", function (e) {
            e.stopPropagation();
            menuContent.classList.toggle("show");
            dropdownWrapper.classList.toggle("open");
        });
    
        document.addEventListener("click", function () {
            menuContent.classList.remove("show");
            dropdownWrapper.classList.remove("open");
        });
    });
    </script>
    

    <!-- Annulation ou écrasage du document en cas de doublon -->
   {{ emplacements_documents|json_script:"emplacements-existants" }}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const input = document.getElementById("file-upload");
            const dossierEmplacement = "{{ dossier.emplacement }}";
            const emplacements = JSON.parse(document.getElementById("emplacements-existants").textContent);

            input.addEventListener("change", function () {
                const fichier = input.files[0];
                if (!fichier) return;

                const emplacement = `${dossierEmplacement}/Annexes/${fichier.name}`;

                if (emplacements.includes(emplacement)) {
                    const confirmReplace = confirm(`Un fichier nommé "${fichier.name}" existe déjà. Voulez-vous le remplacer ?`);
                    if (!confirmReplace) {
                        input.value = "";  // On annule la sélection
                    }
                }
            });
        });
    </script>

    <!-- bouton copier path annexe instructeur -->
    <!-- <script>
        function copierPath(path) {
            navigator.clipboard.writeText(path)
                .then(() => {
                    console.log("Chemin copié :", path);
                })
                .catch(err => {
                    alert("Erreur lors de la copie : " + err);
                });
        }

    </script> -->

    <script>
        function copierPath(button, path) {
            navigator.clipboard.writeText(path)
                .then(() => {
                    const feedback = button.nextElementSibling;
                    feedback.classList.add("show");

                    setTimeout(() => {
                        feedback.classList.remove("show");
                    }, 2000); // disparaît après 2 secondes
                })
                .catch(err => {
                    alert("Erreur lors de la copie du chemin : " + err);
                });
        }
    </script>

    <!-- Bouton actualiser -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const refreshForm = document.querySelector(".refresh-doss form");
            const refreshButton = document.querySelector(".refresh-button");

            refreshForm.addEventListener("submit", function () {
                refreshButton.disabled = true;
                refreshButton.innerHTML = '<img src="{% static "instruction/img/actualiser.png" %}" class="refresh-icon" /> Traitement en cours...';
            });
        });
    </script>

</html>